body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
* {
    box-sizing: border-box;
  }
.tabs {
  width: 100%;
  background: #23A5F0;
  /* height: 400px; */
  padding: 20px 10px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.tab {
  max-width: 800px;
  margin: 0px auto;
  text-align: center;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;


  /* height: 400px; */
}

.tab-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.choosing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.choosing .item {
  width: 90px;
  border-radius: 50%;
  background:#fff;
  padding: 15px;
  margin: 0px 25px;
  transition-duration: .2s;
  cursor: pointer;
}

.choosing .item:hover {
  background: #ffeb00;
  color: #ffeb00;
}

.choosing .active {
  background: #ffeb00;
  color: #ffeb00;
}

.choosing .item img {
  width: 100%;
}

.btn-next {
  padding: 8px 20px;
  border: 2px solid #fff;
  border-radius: 2px;
  font-size: 1.5rem;
  color: #23A5F0;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  background: #fff;
  transition-duration: .2s;
  margin-top: auto;
  cursor: pointer;
  outline: none;
}

.btn-next:hover {
  background: #23a5f0;
  color: #fff;
}

.tab-slider {
  width: 100%;
  margin-top: 70px;
}

.tab-slider-input {
  width: 100%;
  border: none;
  background: #ffffff;
  height: 4px;
  outline: none;
  -webkit-appearance: none;
}

.tab-slider-input::-webkit-slider-thumb {
	-webkit-appearance: none;
  width:50px;
  height:50px;
  background:#2b51a7;
  border-radius:50%;
  cursor:pointer;
  transition:.1s;
  border: 2px solid #ffeb00;
}

.tab-slider-input::-webkit-slider-thumb:hover, .tab-slider-input::-webkit-slider-thumb:active{
  width:60px;
  height:60px;
  border: 3px solid #ffeb00;
}

.slider-value {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.choosing-risks {
  align-items: flex-start;
  justify-content: space-between;
}

.main-item {
  max-width: 200px;
  transition-duration: .2s;
  cursor: pointer;
  margin: 10px 0px;
  width: calc((100% / 4) - 20px)
}
@media screen and (max-width: 750px) {
  .main-item {
    width: calc((100% / 3) - 20px)
  }
}

@media screen and (max-width: 550px) {
  .main-item {
    width: calc((100% / 2) - 20px)
  }
}

@media screen and (max-width: 400px) {
  .choosing-risks {
    justify-content: center;
  }
  .main-item {
    width: 100%;
  }
}
.item-desc {
  font-weight: 300;
  font-size: .9rem;
  margin: 5px 0px;
  line-height: .9rem;
}

.main-item .item {
  margin: 0px auto;
}

.main-item:hover {
  color: #ffeb00;
}

.main-item:hover .item {
  color: #ffeb00;
  background: #ffeb00;
}

.main-item-age, .main-item-age .item{
  cursor: default;
}

.main-item-age:hover {
  color: inherit;
}

.main-item-age:hover .item {
  background: #fff;
}

.active-risks .item {
  color: #ffeb00;
  background: #ffeb00;
}

.active-risks {
  color: #ffeb00;
}

.active-risks:hover {
  color: #ffeb00;
}

.active-risks:hover .item {
  color: #ffeb00;
  background: #ffeb00;
}