body {
  margin: 0px;
  padding: 0px;
  display: block;
  height: 100vh !important;
  overflow: hidden;
}
.faq-page {
  background: url("../img/fon.jpg") 50% 50% no-repeat;
  background-size: cover;
  width: 100%;
  padding: 20px 0px;
  height: 100%;
}

.faq-item {
  
}

.game-rule-content-item img {
  pointer-events: none;
  transform: rotateX(180deg);
  margin-left: 10px;
}

.item-content {
  background: #132234;
}

.item-content-text {
  margin: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  padding: 14px 25px;
  word-wrap: break-word;
}

.item-content-text a {
  word-wrap: break-word;
  width: 100%;
}

@media screen and (max-height: 850px) {
  body {
    overflow: auto;
  }
}