select {
    padding:7px 3px 7px 20px;
    margin: 0;
    border: 1px solid #f1cd5b;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    text-align: center;
    padding-left: 165px;
    /* -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset; */
    background: transparent;
    border-radius: 5px;
    color:#f1cd5b;
    font-weight: 600;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 100%;
    max-width: 380px;
    font-size: 14px;
}
select option{
    background-color: transparent;
}
label.selecty {position:relative; width: 100%;}
label.selecty:after {
    content:'>';
    font:21px "Consolas", monospace;
    color:#33373a;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}
label.selecty:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    /* background:#f8f8f8; */
    position:absolute;
    pointer-events:none;
    display:block;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px!important;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    top: 2px;
    left: 4px;
    bottom: 4px;
    background-color: #000;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #f1cd5b;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #f1cd5b;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .odometer.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition-duration: 1.5s !important;
    -moz-transition-duration: 1.5s !important;
    -ms-transition-duration: 1.5s !important;
    -o-transition-duration: 1.5s !important;
    transition-duration: 1.5s !important
}