body {
	padding: 0;
	margin: 0;
}
a:hover {
	color: inherit !important;
	text-decoration: none !important;
}
.container-nav {
	padding: 0px 40px;
}
img {
	pointer-events: none;
}
.table-players {
	max-width: 90%;
	/* margin: 40px auto 40px auto; */
	margin: 40px auto 20px auto;
	height: 400px;
	overflow-y: scroll;
}
.table-players::-webkit-scrollbar{
  background: rgba(30, 44, 61, 0.7);
  border-radius: 5px;
  width: 8px;
}
.table-players::-webkit-scrollbar-thumb{
	background: rgb(42, 59, 80);
 	border-radius: 5px;
}
body {
	/* height: 100% !important; */
	padding-bottom: 40px;
	min-height: 1166.02px;
	/* -- */
	/* background-attachment: fixed; */
	-webkit-background-size: cover;
        -moz-background-size: cover;
		-o-background-size: cover;
		
		background-size: cover;
		
	/* -- */
}
.table-head {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 15px 0px;
}
.table-subhead {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px 0px;
}
.table-content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px 0px;
}
.table-head-item {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	margin: 0px 30px;
	color: #9098A3;
}
.table-subhead-item {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #F1CD5B;
	margin: 0px 10px;
	width: 15%;
	justify-content: center;
}
.table-content-item {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	margin: 0px 10px;
	width: 15%;
	justify-content: center;
}
.table-colored:nth-child(even) {
	background: rgba(16, 29, 46, 0.7);
}
.table-colored:nth-child(odd) {
	background: rgba(19, 34, 52, 0.7);
}
#header {
	background: #101B28;
	margin: 0;
}
.navigation {
	width: 100%;
	padding: 5px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navigation-item-container {
	display: flex;
	align-items: center;
}
.navigation-item-container-item {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	color: #9098A3 !important;
	margin: 0px 15px;
	cursor: pointer;
	text-decoration: none;
}
.navigation-item-container-item-boldText {
	color: #F1CD5B;
}
.navigation-item-container-item-wrapper {
	display: flex;
	align-items: center;
}
.navigation-item-container-item-wrapper-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	color: #9098A3;
	margin: 0px 7px;
	text-decoration: none;
}
.navigation-item-container-item-wrapper {
	margin: 0px 10px;
}
#header-scnd {
	background: #132234;
}
.navigation-scnd {
	width: 100%;
	padding: 10px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navigation-scnd-item-container {
	margin: 0px 15px;
}
.navigation-scnd-item-container-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	text-decoration: none;
	margin: 0px;
}
.navigation-scnd-item-container-text-boldText {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 14px;
	line-height: 16px;
	color: #F1CD5B;
	padding: 6px 50px;
	background: #101B28;
	border-radius: 13px;
	margin: 0px;
}
.navigation-scnd-item-container-2 {
	margin: 0px 15px;
}

.navigation-scnd-item-container-2-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	color: #FFFFFF;
	cursor: pointer;
}
.active-value {
	text-decoration-line: underline;
	color: #F1CD5B;
}

.navigation-scnd-item-container-image {
	border-radius: 50%;
	border:9px solid #101B28;
	background: #101B28;
	margin: 0px 7.5px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navigation-item-container-wrapper-socials {
	display: flex;
	align-items: center;
	/* margin-right: 30px; */
}
.navigation-item-container-wrapper-socials-2 {
	display: none;
}
.navigation-item-container-wrapper-user {
	background: #101B28;
	border-radius: 13px;
	padding: 3px 20px 3px 2px;
	display: flex;
	align-items: center;
}
.navigation-item-container-wrapper-user-image {
	border-radius: 50%;
}
.navigation-item-container-wrapper-user-name {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	line-height: 12px;
	color: #FFFFFF;
	margin: 0px 0px 0px 10px;
}
#header .navigation-item-container:last-child {
	margin-left: -80px;
}
.games-item {
	display: flex;
	align-items: center;
	margin: 0px 20px;
	cursor: pointer;
}
.games-item-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	text-transform: uppercase;
	margin: 0px 0px 0px 10px;
}
#header-thrd {
	background: #101B28;
	padding: 8px 0px;
	position: relative;
}
.games-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.games {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.games-item-active p {
	text-decoration-line: underline;
	color: #F1CD5B;
}
.rules-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	margin: 0px 15px;
	text-decoration: none;
}
.rules {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 0px;
}
.navigation-item-container-menu-2 {
	display: none;
}
.rules-title-game {
	display: none;
}
.nav-valutes-wrapper {
	display: flex;
	align-items: center;
}
#header-scnd {
	position: relative;
}
#header-scnd-menu-1 {
	position: absolute;
	right: 0px;
	top: 65px;
	background: #132234;
	padding: 10px 15px;
	width: 150px;
	display: none;
	z-index: 999;
}
.header-scnd-menu-item {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	margin: 10px 0px;
	text-decoration: none;
	display: block;
}
#header-scnd-menu-2 {
	position: absolute;
	right: 0px;
	left:0px;
	top: 35px;
	background: #101B28;;
	padding: 10px 15px;
	width: 100%;
	display: none;
	z-index: 995;
}
.gamesRouter-active {
	color: #F1CD5B;
}
.games-item-menu-2 {
	display: flex;
	align-items: center;
	margin: 0px 10px;
	cursor: pointer;
}
.games-item-text-menu-2 {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	text-transform: uppercase;
	margin: 8px 0px 8px 4px;
}
.navigation-scnd-item-container-2-text {
	margin: 0px;
}
/* <------------------------------------------------------------------> */
.color_label {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-weight: 900;
	/* width: 91px; */
	height: 48px;
	background-color: #132234;
	cursor: pointer;
	transition: 0.5s;
	margin-right: 8px;
	border: 1px solid #f1cd5b;
	border-radius: 2px
}
.color_label-blue {
	/* border-color: #1C6E89; */
	color: #1C6E89
}
.color_label-brown {
	/* border-color: #CE354F; */
	color: #CE354F;
}
.color_label-red {
	/* border-color: #4CDB45; */
	color: #4CDB45
}
.color_label-turquoise {
	/* border-color: #F6E444; */
	color: #F6E444
}
.color_choose:checked + .color_label-blue {
	background: #1C6E89;
	color: white
}
.color_choose:checked + .color_label-brown {
	background: #CE354F;
	color: white
}
.color_choose:checked + .color_label-red {
	background: #4CDB45;
	color: white
}
.color_choose:checked + .color_label-turquoise {
	background: #F6E444;
	color: white
}
.x50_bets__tab_content__item {
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 20px;
	justify-content: space-between;
	/*padding: 10px 15px;*/
	/* padding: 10px 40px 10px 0; */
	
	/* width: 72%; */
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	max-width: 380px;
	width: 100%;
	margin: 0;
}

.visually_hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.colored-circle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
		
	.colored-circle		span {
		font-size: 18px;
		font-weight: 800;
		color: #F6E444;
	}
		
	.colored-circle	p {
		color: #F6E444;
		font-size: 18px;	
		font-weight: 800;
	}
		
	.x50_log {
		padding: 12px 0px; /*тут изменить первое значение*/
		justify-content: space-between;
		align-content: center;
		margin-top: 120px;
		background-color: rgba(16, 29, 46, 0.9);
		position: absolute;
		  left: 0;
		  width: 100%;
		  display: inline-block;
		  padding: 10px 220px;
	}
	.x50_log__item__heading {
		-ms-align-items: center;
		align-items: center;
		justify-content: space-between;
		font-weight: 900;
		padding-bottom: 15px;
		border-bottom: 2px solid;
		margin-bottom: 20px;
		background-color: rgb(12, 25, 40);
	}
	.x50_log__item__heading-icon {
		width: 20px;
		height: 18px;
		margin-top: 0px;

	}
	.x50_log__item__heading-icon svg{
		max-width: 100%;
		max-height: 100%;
		padding-bottom: 3px;
	}

	.x50_log__item:nth-child(1) .x50_log__item__heading {
		border-color: #277486;
		color: #277486;
	}
	.x50_log__item:nth-child(2) .x50_log__item__heading {
		border-color: #CE354F;
		color: #CE354F;
	}
	.x50_log__item:nth-child(3) .x50_log__item__heading {
		border-color: #4CDB45;
		color: #4CDB45;
	}
	.x50_log__item:nth-child(4) .x50_log__item__heading {
		border-color: #F6E444;
		color: #F6E444;
	}
	.x50_log__item {
		width: 22%;
	}
	.x50_log__item__heading-counter {
		flex-grow: 1;
		margin-left: 10px;
		font-size: 16px;
	}
	.x50_log__item__user {
		justify-content: space-between;
		padding: 10 0px;
		margin-bottom: 10px;
		-ms-align-items: center;
		align-items: center;
	}
	.x50_log__item__user-info {
		/*-webkit-flex-direction: column;*/
		/*-moz-flex-direction: column;*/
		/*-ms-flex-direction: column;*/
		/*-o-flex-direction: column;*/
		flex-direction: row;
		justify-content: space-between;
		-ms-align-items: flex-end;
		align-items: flex-end;
		text-transform: uppercase;
		padding: 5px 0;
		-ms-align-self: stretch;
		align-self: stretch;
		width: 100%;
		align-items: center;
		margin-left: 10px;
	}
	.x50_log__item__user-avatar {
		width: 45px;
		min-width: 45px;
		height: 45px;
		display: block;
		border: 1px solid #F2F2F2;
		border-radius: 50%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
		padding:5px;
	}
	.x50_log__item__user-avatar img{
		width: 75%;
		height: 75%;
	}
	.x50_log__item:nth-child(1) {
		color:#277486; 
	}
	.x50_log__item:nth-child(2) {
		color: #CE354F;
	}
	.x50_log__item:nth-child(3) {
		color: #4CDB45;
	}
	.x50_log__item:nth-child(4){
		color: #F6E444;
	}
	.on_win-multyply,
	.on_lose-multyply {
		margin-top: 10px;
	}
	.x50_bets__description{
		text-align: center;
		padding-top: 25px;
	}
	.x50_log__item__user-name {
		font-size: 12px;
	}

	/* --- */
	.x50_main {
		justify-content: space-between;
		width: 100%;
		-ms-align-items: flex-start;
		align-items: flex-start;
		margin-bottom: 30px;
	}
	.x50_circle {
		width: 100%;
		padding-left: 60px;
		flex-wrap: wrap;
		
	}
	.x50_bets {
		width: 46%;
		max-width: 450px;
		text-align: center;
		margin-right: 0px;
		position: relative;
	}
	.x50_circle__last_colors {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		/* width: 100px;
		min-width: 100px; */
		background-color: rgba(16, 29, 46, 0.9);
		/* max-width: 100px; */
		/* max-width: 180px; */
		max-width: 140px;
		/* position: relative; */
		/* margin-top: 60px; */
		margin-top: 50px;
		/* left: 8%; */
		left: 13%;
		/* height: 80%; */
		height: 500px;
		padding: 10px 0px;
		
	}
	
/* .col-lg-4 {
	width: 70%;
	background-size: contain;
} */

	.x50_circle__last_colors__item{
		/* height: 3px; */
		height: 12px;
		margin-bottom: 9px;
		border-radius: 1px;
		position: relative;
	}
	.x50_circle__last_colors__item .box-circle{
		position: absolute;
		top: -20px;
		right: 0%;
		transform: translateX(calc(100% + 20px));
	}
	.x50_circle__last_colors__item-yellow {
		background: #F6E444;
		/* width: 100px; */
		width: 120px;
	}
	.x50_circle__last_colors__item-green {
		background: #4CDB45;
		/* width: 70px; */
		width: 120px;
	}
	.x50_circle__last_colors__item-turquoise {
		background: #277486;
		/* width: 20px; */
		width: 120px;
	}
	.x50_circle__last_colors__item-red {
		background: #CE354F;
		/* width: 40px; */
		width: 120px;
	}
	.x50_circle__last_colors__item:last-of-type {
		margin-bottom: 0;
	}
	.x50_circle__current {
		width: 100%;
		height: 308px;
		position: relative;
		transition: 5s;
		max-width: 100%;
		-ms-align-self: center;
		align-self: center;
		justify-content: center;
	}
	.colored_circle {
		position: absolute;
		width: 100%;
		height: 100%;
		/* width: 308px;
		height: 308px; */
		width: 390px;
		height: 364px;
		top: 0;
		/* left: 50%; */
		left: 100%;
		/* transform: translate(-50%,0); */
		/* transform: translate(-50%, -15%); */
		transform: translate(-50%, -15%);
		background-image: url(../img/colored-circle-5.png);
		background-size: 100%;
		margin-top: 20px;
		padding-bottom: 250px;
		
	}
	.x50_circle__counter {
		position: absolute;
		/* top:50%; left:50%; */
		/* top:60%; left:50%; */
		top:50%; left:100%;
		transform: translate(-50%,-50%);
		display: block;
		text-align: center;
		font-weight: 400;
		font-size: 72px;
		width: 42px;
		color: #F6E444;
		background-color: transparent;
		border: 0;
		font-size: 60px;
	}
	.x50_circle__arrow {
		position: absolute;
		/* left: 50%;top: 87%; */
		/* left: 48.3%;top: 87%; */
		/* left: 48.3%;top: 96%; */
		left: 98.3%;top: 78%;
	}

	.rectangle {
		max-width: 73%;
		height: 100%;
		/* margin: 300px auto; */
		/* transform: translate(15%,25%); */
		/*transform: translate(20%,16%);*/
		/* transform: translate(15%,140%); */
		display: block;
		margin: 50px auto 10px auto;
		padding-left: 25px;
		height: 300px;
		overflow-x: hidden;
		overflow-y: scroll;
	}
	.rectangle::-webkit-scrollbar{
	  	background: rgba(30, 44, 61, 0.7);
	  	border-radius: 5px;
	  	width: 8px;
	}
	.rectangle::-webkit-scrollbar-thumb{
		background: rgb(42, 59, 80);
		border-radius: 5px;
	}
	.col-lg-3 {
		padding: 0;
	}
	.table {
		background-color: rgba(19, 34, 52, 0.7);
		width: 100%;
	}
	.main_head_1 {
		width: 100%;
		background-color: rgb(12, 25, 40);
	}
	
	table td,
table th {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}
	.table td {
		background-color: rgba(16, 29, 46, 0.7);
		border: 0;
		/* border: 1px solid #f1cd5b; */
	}
	.table thead th {
		border: 0;
		/* border: 1px solid #f1cd5b; */
	}
	.c-1 {
		color: #277486;
	}
	.c-2 {
		color: #CE354F;
	}
	.c-3 {
		color: #4CDB45;
	}
	.c-4 {
		color: #F6E444;
	}
	.gap {
		position: absolute;
		right: 0;
		margin-right: 20px;
	}
	.game-fields {
		margin-right: 20px;
	}
	.right-table {
		top: 10%;
		left: 22%;
	}
@media screen and (max-width: 1340px) {
	.balance {
		display: none;
	}
	.navigation-scnd-item-container-2-text {
		margin: 0px;
	}
	.navigation-scnd-item-container-2 {
		margin: 0px 5px;
	}
	.navigation-item-container-wrapper-socials {
		margin-right: 0px;
	}
	.navigation-scnd-item-container-image {
		margin: 0px 3px;
	}
	.navigation-scnd-item-container-text-boldText {
		padding: 6px 10px;
		white-space: pre;
	}
	.navigation-item-container-item-wrapper {
		margin: 0px 5px;
	}
	.navigation-item-container-item-wrapper-text {
		margin: 0px 3px;
	}
	.navigation-item-container-item {
		margin: 0px 5px;
	}
}

@media screen and (max-width: 1100px) {
	.navigation-item-container-wrapper-socials-2 {
		display: flex;
	}
	.navigation-item-container-wrapper-socials-1 {
		display: none;
	}
	.navigation-hrefs {
		display: none;
	}
	.navigation-item-container-item-wrapper-text, .navigation-item-container-item-wrapper-image-disNoneMobile {
		display: none;
	}
	.navigation-scnd-item-container-text {
		display: none;
	}
	.games {
		justify-content: flex-start;
	}
}

@media screen and (max-width: 920px) {
	.navigation-item-container-menu {
		display: none;
	}
	.navigation-item-container-menu-2 {
		display: block;
		width: 15px;
		cursor: pointer;
	}
	.navigation-item-container-menu-2 span {
		width: 100%;
		height: 2px;
		background: #DADADA;
		display: block;
		margin: 2px 0px;
	}
	.navigation-item-container-menu-active span {
		background: #F1CD5B;
	}
	.navigation-scnd-item-container {
		margin: 10px 5px;
	}
	.navigation-statistic {
		display: none;
	}
	.games-item, .rules-title {
		margin: 0px 5px;
	}
	.games-item-text {
		margin-left: 4px;
	}
}
@media screen and (max-width: 650px) {
	.rules-title-game {
		display: block;
	}
	.games-item {
		display: none;
	}
	.games-item:first-child {
		display: flex;
	}
	.container-nav {
		padding: 0px 20px;
	}
}

@media screen and (max-width: 530px) {
	.rules-title-game {
		display: block;
	}
	.games-item {
		display: none;
	}
	.games-item:first-child {
		display: flex;
	}
	.container-block-balance {
		display: block;
	}
	.nav-valutes-wrapper {
		justify-content: center;
	}
	.logo {
		display: none;
	}
	#header-scnd-menu-1 {
		width: 100%;
		right:0px;
		left: 0px;
	}
	.navigation-scnd-item-container {
		margin: 10px 5px;
	}
}




@media screen and (max-width: 991px) {
	.x50_circle {
		padding: 0px;
		justify-content: center;
	}
	.x50_circle__last_colors {
		left: 0px;
		height: 400px;
	}
	.coin-stripe {
		justify-content: center;
	}
	.x50_circle__current {
		/* margin: 40px 0px; */
		margin: 60px 0px;
	}
	.game-fields {
		/* background: transparent;
		padding-left: 40px; */
	}
	.x50_circle__last_colors {
		display: none !important;
	}
	.game-fields {
		padding: 10px;
	}
	.fields-wrapper {
		width: 300px;
		margin: 0 auto;
	}
	.fields-wrapper * {
		max-width: 100% !important;
	}
	.rectangle {
		margin-top: 120px;
	}
}

/* @media screen and (max-width: 1400px) {
	.x50_circle__last_colors {
		background-color: transparent;
	}
} */

@media screen and (max-width: 1366px) {
	/*.rectangle {
		 transform: translate(15%,50%); 
		transform: translate(15%,170%);
		margin-top: -230px;
	}*/
	.right-table {
		margin-right: 15px;
	}
	.x50_circle__last_colors {
		max-width: 140px;
		width: 120px;
		left: 4%;
	}
	.x50_circle__last_colors__item{
		/* height: 3px; */
		height: 5px;
		margin-bottom: 9px;
		border-radius: 1px;
		position: relative;
	}
	.x50_circle__last_colors__item-yellow {
		background: #F6E444;
		/* width: 100px; */
		width: 120px;
	}
	.x50_circle__last_colors__item-green {
		background: #4CDB45;
		/* width: 70px; */
		width: 80px;
	}
	.x50_circle__last_colors__item-turquoise {
		background: #277486;
		/* width: 20px; */
		width: 30px;
	}
	.x50_circle__last_colors__item-red {
		background: #CE354F;
		/* width: 40px; */
		width: 50px;
	}
	.colored_circle {
		left: 85%;
	}
	.x50_circle__counter {
		left: 85%;
	}
	.x50_circle__arrow {
		left: 83.3%;
	}
}

@media screen and (max-width: 1024px) {
	.x50_circle__last_colors {
		left: 2%;
	}
}

@media screen and (max-width: 991px) {
	.right-table {
		left: 0;
	}
	.colored_circle {
		left: 100%;
	}
	.x50_circle__counter {
		left: 100%;
	}
	.x50_circle__arrow {
		left: 97.3%;
	}
}

@media screen and (max-width: 939px) {
	.bet-change {
		margin: 0;
	} 
}

@media screen and (max-width: 767px) {
	.right-table {
		margin-left: 0;
		margin-right: 0;
	}
	.colored_circle {
		left: 50%;
	}
	.x50_circle__counter {
		left: 50%;
	}
	.x50_circle__arrow {
		left: 48.3%;
	}
}

@media screen and (max-width: 596px) {
	body {
		height: 1713.02px;
	}
	.colored_circle {
		
		left: 50%;
	}
	.x50_circle__counter {
		left: 50%;
	}
	.x50_circle__arrow {
		left: 48.3%;
	}
	
	.rectangle {
		/*transform: translate(15%,170%);*/
		/* margin: 200px auto; */
	}
	.right-table {
		left: 0;
	}
}










body {
	padding: 0;
	margin: 0;
	background: url(../img/fon.jpg) 50% 50% no-repeat !important;
		background-size: cover !important;
}
body .bg {
	background: none;
}
a:hover {
	color: inherit !important;
	text-decoration: none !important;
}
.container-nav {
	padding: 0px 40px;
}
img {
	pointer-events: none;
}
.table-players {
	max-width: 90%;
	/* margin: 40px auto 40px auto; */
	margin: 40px auto 20px auto;
	height: 400px;
	overflow-y: scroll;
}
.table-players::-webkit-scrollbar{
  background: rgba(30, 44, 61, 0.7);
  border-radius: 5px;
  width: 8px;
}
.table-players::-webkit-scrollbar-thumb{
	background: rgb(42, 59, 80);
 	border-radius: 5px;
}
body {
	height: 100% !important;
	padding-bottom: 40px;
}
.table-head {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 15px 0px;
}
.table-subhead {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px 0px;
}
.table-content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px 0px;
}
.table-head-item {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	margin: 0px 30px;
	color: #9098A3;
}
.table-subhead-item {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #F1CD5B;
	margin: 0px 10px;
	width: 15%;
	justify-content: center;
}
.table-content-item {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	margin: 0px 10px;
	width: 15%;
	justify-content: center;
}
.table-colored:nth-child(even) {
	background: rgba(16, 29, 46, 0.7);
}
.table-colored:nth-child(odd) {
	background: rgba(19, 34, 52, 0.7);
}
#header {
	background: #101B28;
	margin: 0;
}
.game-main-content-part {
	margin-top: 30px;
}
.navigation {
	width: 100%;
	padding: 5px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navigation-item-container {
	display: flex;
	align-items: center;
}
.navigation-item-container-item {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	color: #9098A3;
	margin: 0px 15px;
	text-decoration: none;
}
.navigation-item-container-item-boldText {
	color: #F1CD5B;
}
.navigation-item-container-item-wrapper {
	display: flex;
	align-items: center;
}
.navigation-item-container-item-wrapper-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	color: #9098A3;
	margin: 0px 7px;
	text-decoration: none;
}
.navigation-item-container-item-wrapper {
	margin: 0px 10px;
}
#header-scnd {
	background: #132234;
}
.navigation-scnd {
	width: 100%;
	padding: 10px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navigation-scnd-item-container {
	margin: 0px 15px;
}
.navigation-scnd-item-container-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	text-decoration: none;
	margin: 0px;
	cursor: pointer;
}
.navigation-scnd-item-container-text-boldText {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 14px;
	line-height: 16px;
	color: #F1CD5B;
	padding: 6px 50px;
	background: #101B28;
	border-radius: 13px;
	margin: 0px;
}
.navigation-scnd-item-container-2 {
	margin: 0px 15px;
}

.navigation-scnd-item-container-2-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	color: #FFFFFF;
	cursor: pointer;
}
.active-value {
	text-decoration-line: underline;
	color: #F1CD5B;
}

.navigation-scnd-item-container-image {
	border-radius: 50%;
	border:9px solid #101B28;
	background: #101B28;
	margin: 0px 7.5px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navigation-item-container-wrapper-socials {
	display: flex;
	align-items: center;
	/* margin-right: 30px; */
}
.navigation-item-container-wrapper-socials-2 {
	display: none;
}
.navigation-item-container-wrapper-user {
	background: #101B28;
	border-radius: 13px;
	padding: 3px 20px 3px 2px;
	display: flex;
	align-items: center;
}
.navigation-item-container-wrapper-user-image {
	border-radius: 50%;
}
.navigation-item-container-wrapper-user-name {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	line-height: 12px;
	color: #FFFFFF;
	margin: 0px 0px 0px 10px;
}
#header .navigation-item-container:last-child {
	margin-left: -80px;
}
.games-item {
	display: flex;
	align-items: center;
	margin: 0px 20px;
	cursor: pointer;
}
.games-item-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	text-transform: uppercase;
	margin: 0px 0px 0px 10px;
}
#header-thrd {
	background: #101B28;
	padding: 8px 0px;
	position: relative;
}
.games-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.games {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.games-item-active p {
	text-decoration-line: underline;
	color: #F1CD5B;
}
.rules-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	margin: 0px 15px;
	text-decoration: none;
}
.rules {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 0px;
}
.navigation-item-container-menu-2 {
	display: none;
}
.rules-title-game {
	display: none;
}
.nav-valutes-wrapper {
	display: flex;
	align-items: center;
}
#header-scnd {
	position: relative;
}
#header-scnd-menu-1 {
	position: absolute;
	right: 0px;
	top: 65px;
	background: #132234;
	padding: 10px 15px;
	width: 150px;
	display: none;
	z-index: 999;
}
.header-scnd-menu-item {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	margin: 10px 0px;
	text-decoration: none;
	display: block;
	cursor: pointer;
}
.header-scnd-menu-item:hover {
 color:#fff !important;
}
#header-scnd-menu-2 {
	position: absolute;
	right: 0px;
	left:0px;
	top: 35px;
	background: #101B28;;
	padding: 10px 15px;
	width: 100%;
	display: none;
	z-index: 995;
}
.gamesRouter-active {
	color: #F1CD5B;
}
.games-item-menu-2 {
	display: flex;
	align-items: center;
	margin: 0px 10px;
	cursor: pointer;
}
.games-item-text-menu-2 {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	text-transform: uppercase;
	margin: 8px 0px 8px 4px;
}
.navigation-scnd-item-container-2-text {
	margin: 0px;
}
@media screen and (max-width: 1340px) {
	.balance {
		display: none;
	}
	.navigation-scnd-item-container-2-text {
		margin: 0px;
	}
	.navigation-scnd-item-container-2 {
		margin: 0px 5px;
	}
	.navigation-item-container-wrapper-socials {
		margin-right: 0px;
	}
	.navigation-scnd-item-container-image {
		margin: 0px 3px;
	}
	.navigation-scnd-item-container-text-boldText {
		padding: 6px 10px;
		white-space: pre;
	}
	.navigation-item-container-item-wrapper {
		margin: 0px 5px;
	}
	.navigation-item-container-item-wrapper-text {
		margin: 0px 3px;
	}
	.navigation-item-container-item {
		margin: 0px 5px;
	}
}

@media screen and (max-width: 1100px) {
	.navigation-item-container-wrapper-socials-2 {
		display: flex;
	}
	.navigation-item-container-wrapper-socials-1 {
		display: none;
	}
	.navigation-hrefs {
		display: none;
	}
	.navigation-item-container-item-wrapper-text, .navigation-item-container-item-wrapper-image-disNoneMobile {
		display: none;
	}
	.navigation-scnd-item-container-text {
		display: none;
	}
	.games {
		justify-content: flex-start;
	}
}

@media screen and (max-width: 920px) {
	.navigation-item-container-menu {
		display: none;
	}
	.navigation-item-container-menu-2 {
		display: block;
		width: 15px;
		cursor: pointer;
	}
	.navigation-item-container-menu-2 span {
		width: 100%;
		height: 2px;
		background: #DADADA;
		display: block;
		margin: 2px 0px;
	}
	.navigation-item-container-menu-active span {
		background: #F1CD5B;
	}
	.navigation-scnd-item-container {
		margin: 10px 5px;
	}
	.navigation-statistic {
		display: none;
	}
	.games-item, .rules-title {
		margin: 0px 5px;
	}
	.games-item-text {
		margin-left: 4px;
	}
}
@media screen and (max-width: 650px) {
	.rules-title-game {
		display: block;
	}
	.games-item {
		display: none;
	}
	.games-item:first-child {
		display: flex;
	}
	.container-nav {
		padding: 0px 20px;
	}
}

@media screen and (max-width: 530px) {
	.rules-title-game {
		display: block;
	}
	.games-item {
		display: none;
	}
	.games-item:first-child {
		display: flex;
	}
	.container-block-balance {
		display: block;
	}
	.nav-valutes-wrapper {
		justify-content: center;
	}
	.logo {
		display: none;
	}
	#header-scnd-menu-1 {
		width: 100%;
		right:0px;
		left: 0px;
	}
	.navigation-scnd-item-container {
		margin: 10px 5px;
	}
}




.game-rule {
  width: 90%;
  max-width: 520px;
  margin: auto;
  background: #101B28;
  border: 1px solid #F1CD5B;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.game-rule-2 {
  width: 100%;
  max-width: 520px;
}

#faqModal {
	display: flex;
	align-items: center;
	justify-content: center;
}

.game-rule-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #101B28;
	padding: 16px 25px;
	cursor: pointer;
}

.game-rule-head-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #101B28;
	padding: 16px 25px;
	cursor: pointer;
}

.game-title {
  display: flex;
  align-items: center;
}

.game-title img {
	margin-right: 10px;
}

.game-title-rules {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #F1CD5B;
  margin: 0px;
}
.games-item-text {
  margin-left: 0px;
}
.games-item-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.game-rule-content {
  box-sizing: border-box;
}

.game-rule-content-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin: 0px;
}
.game-rule-content-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  padding: 14px 25px;
  cursor: pointer;
  background: #101B28;
}

.blur {
	width: 100%;
	height:	100vh;
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
	z-index: 99999999;
}
.blur-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: relative;
}
.modal1 {
	width: 90%;
	max-width: 520px;
	left: 0px;
  top: 0px;
  /* transform: translate(-50%, -50%); */
  background: #101B28;
  border: 1px solid #F1CD5B;
  box-sizing: border-box;
	/* position: absolute; */
	z-index: 999999;
}
.modalfaq {
	/* width: 90%; */
	/* max-width: 520px; */
	/* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  /* background: #101B28;
  border: 1px solid #F1CD5B; */
  /* box-sizing: border-box;
	position: absolute;
	z-index: 999999;
	padding: 0px; */
}
.close {
	cursor: pointer !important;
	pointer-events: all !important;
}

.honestGame-content {
	background: #132234;
	padding: 10px 0px;
	width: 100%;
	padding-bottom: 20px;
}

.honestGame-content .item-content-text {
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 15px 0px;
}

.honestGame-input {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	padding: 12px 15px;
	width: 100%;
	background: #131C2D;
	border: 1px solid transparent;
	box-sizing: border-box;
	outline: none;
	margin: 7.5px 0px;
}

.honestGame-input::-webkit-input-placeholder {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
}

.honestGame-input:focus {
	border: 1px solid #F1CD5B;
}

.honestGame-inputs {
	padding: 0px 25px;
	margin-top: 20px;
}

.honestGame-btn {
	outline: none;
	background: #F1CD5B;
	width: 45%;
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #101B28;
	border: none;
	padding: 12px 0px;
	text-align: center;
	margin: 7.5px 0px;
	display: block;
	margin-left: auto;
	cursor: pointer;
}

.honestGame-inputs-flex {
	margin-top: 20px;
	display: flex;
	width: 100%;
	/* align-items: flex-start; */
	justify-content: space-between;
	position: relative;
}

.honestGame-inputs-flex-item-relative {
	position: absolute;
	top: 40px;
	width: 100%;
	max-width: 211px;
}

.honestGame-inputs-flex-item-relative .honestGame-inputs-flex-item {
	max-height: 40px;
}

.inputs-slash {
	width: 23%;
	background: transparent;
}

.honestGame-inputs-flex-item {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #131C2D;
	padding: 12px 15px;
	cursor: pointer;
}

.honestGame-inputs-flex-item:nth-child(2) {
	
	padding: 20px 15px;
}

.honestGame-inputs-flex-item-name {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #9098A3;
	margin: 0px;
	text-transform: uppercase;
}

.honestGame-inputs-flex-item img {
	transform: rotateX(180deg)
}

@media screen and (max-width: 400px) {
	.honestGame-inputs-flex {
		display: block;
	}
	.honestGame-inputs-flex-item:nth-child(3) {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.inputs-slash {
		display: none;
	}
	.honestGame-inputs-flex-item {
		margin: 10px 0px;
		max-width: 90%;
	}
	.honestGame-btn {
		width: 100%;
	}
}

.dividend-content {
	background: #132234;
	padding: 20px 25px;
	padding-bottom: 20px;
}

.progress-line {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.progress-level-left {
	width: 30px !important;
	height: 30px !important;
	line-height: 0px;
	background: #101B28;
	border-radius: 50%;
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 14px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #F1CD5B;
	justify-content: center;
	z-index: 999;
}

.progress-line-item {
	width: calc(100% - 40px);
	height: 25px;
	background: #101B28;
}

.progress-line-fill {
	background: linear-gradient(270deg, #F1CD5B 0%, #101B28 100%);
	width: calc(60% + 20px);
	margin-left: -10px;
	margin-right: -10px;
	height: 100%;
}

.progress-level-right {
	width: 30px !important;
	height: 30px !important;
	line-height: 0px;
	background:#F1CD5B;
	border-radius: 50%;
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 14px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #101B28;
	justify-content: center;
	z-index: 999;
}

.progress-numbers {
	display: flex;
	align-items: center;
	width: 50%;
	margin: 20px auto;
}

.progress-numbers-item {
	display: flex;
	align-items: center;
}

.progress-numbers-item-counter {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	margin: 0px;
	margin-right: 10px;
}

.progress-numbers-item img {
	width: 23px;
}

.progress-numbers-slash {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	margin: 0px 20px;
	margin-right: 10px;
}

.dividend-table {
	width: 100%;
	margin: 20px 0px;
}

.dividend-table-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #101B28;
	padding: 15px 0px;
}

.dividend-table-item-name {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #F1CD5B;
	margin: 0px;
	text-align: center;
}

.dividend-table-item-name:nth-child(1) {
	width: 30%;
}
.dividend-table-item-name:nth-child(2) {
	width: 70%;
}

.dividend-table-item-1 {
	background: #EBC859;
}
.dividend-table-item-1 .dividend-table-item-name {
	color: #101B28;
}

.dividend-table-item-2 .dividend-table-item-name {
	color: #fff;
}

.table-more {
	display: flex;
	align-items: center;
	justify-content: center;
}

.table-more-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	margin-right: 15px;
	cursor: pointer;
}
.dividend-pool {
	background: #101B28;
	padding: 25px;
}

.dividend-pool-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dividend-pool-head-caption {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	color: #F1CD5B;
	margin: 0px;
}

.dividend-pool-head-coof {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	margin: 0px;
}

.dividend-pool-btns {
	margin: 20px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dividend-pool-btns-item {
	border: 1px solid #EBC859;
	box-sizing: border-box;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #F1CD5B;
	margin: 0px 2.5px;
	padding: 6px 0px;
	width: 70px;
	height: 42px;
}

.dividend-pool-btns-item img {
	width: 30px;
	position: relative;
}

.dividend-pool-desc {
	display: flex;
	align-items: center;
	justify-content: center;
}

.dividend-pool-desc-name {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	margin: 0px;
	margin-right: 10px;
}

.dividend-footer {
	margin-top: 30px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.dividend-footer-leftSide {
	width: 65%;
}

.dividend-footer-leftSide-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dividend-footer-leftSide-title-item {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	color: #F1CD5B;
	margin: 0px;
}

.dividend-footer-leftSide-title-balance {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	margin: 0px;
}

.dividend-balance {
	display: flex;
	align-items: center;
	padding: 12px 16px;
	justify-content: space-between;
	background: #131C2D;
	margin-top: 15px;
}

.dividend-balance-item {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	margin: 0px;
}

.dividend-balance-item-valute {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	margin: 0px;
}

.dividend-footer-rightSide {
	width: 25%;
}

.dividend-footer-rightSide .honestGame-btn {
	width: 100%;
	margin: 0px;
	padding: 11.5px 0px;
}

@media screen and (max-width: 510px) {
	.dividend-table-item {
		padding: 15px 10px;
	}
	.dividend-footer {
		display: block;
	}
	.dividend-footer-leftSide, .dividend-footer-rightSide {
		width: 100%;
	}
	.dividend-footer-rightSide .honestGame-btn {
		margin: 10px 0px;
	}
	.dividend-pool-head-coof {
		font-size: 9px;
	}
	.dividend-pool-head-caption {
		font-size: 12px;
	}
	.progress-numbers {
		width: 100%;
		justify-content: center;
	}
	.dividend-pool-btns-item {
		padding: 3px 0px;
		width: 50px;
		font-size: 18px;
	}
}

.progress-bar {
	background-color: transparent !important;
}

.table-more-text {
	margin-bottom: 0px;
}

.table-more {
	margin-top: 10px;
}

.game {
	display: none;
}

#game-1 {
	display: block;
}

.container-fluid {

}

body {
	background: none !important;
	padding-bottom: 0px;
	min-height: 100vh !important;
	height: 100% !important;
}
.table-players {
	margin-bottom: 0px;
}
.game {
	background: url("../img/fon.jpg");
	overflow: hidden;
	min-height: 100vh;
	height: 100%;
	padding-bottom: 20px;
	padding-top: 180px;
}
.profile {
	display: block;
}

.rules-page {
  /* background: url("../img/fon.jpg") 50% 50% no-repeat; */
  /* background-size: cover; */
  /* width: 100%; */
  border: 1px solid #F1CD5B;
  width: 90%;
  max-width: 520px;
  margin: 30px auto;
}

.game-rule {
  /* width: 90%;
  max-width: 520px; */
  /* margin: 30px auto; */
  /* background: #132234; */
  /* border: 1px solid #F1CD5B; */
  box-sizing: border-box;
  padding-bottom: 0px;
  border: none;
  width: 100%;
}

.game-rule-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #101B28;
  padding: 16px 25px;
}

.game-title {
  display: flex;
  align-items: center;
}

.game-title-rules {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #F1CD5B;
  margin: 0px;
}

.game-rule-content {
  background: #132234;
  box-sizing: border-box;
  padding: 16px 25px 20px 25px;
}

.game-rule-content-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.game-rule-content-list {
  list-style: none;
  padding: 0px;
}

.game-rule-content-list-item {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  margin: 10px 0px;
}

.game-rule-content-list-item p {
  margin: 0px;
  max-width: 90%;
}

.game-rule-content-list-item-counter {
  line-height: 0px;
  background: #F1CD5B;
  border-radius: 50%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #101B28;
  width: 20px !important;
  height: 20px !important;
  margin-right: 15px;
}

.game-rule-content-text-bold {
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 900;
}

@media screen and (max-width: 600px) {
  .game-rule-content-list-item p {
    margin: 0px;
    max-width: 83%;
  }
}

#rulesModal {
	display: flex;
	align-items: center;
	justify-content: center;
}

#rulesModal .game-rule-content {
	padding: 0px 25px !important;
}

#rulesModal .game-rule-content .game-rule-content-text:nth-child(1) {
	padding: 10px 0px 10px 0px !important;
}

#faqModal {
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-menu {
	position: fixed;
	width: 100%;
	z-index: 999999;
}
.x50_circle__last_colors__item-yellow {
		background: #F6E444;
		/* width: 100px; */
		width: 120px;
	}
	.x50_circle__last_colors__item-green {
		background: #4CDB45;
		/* width: 70px; */
		width: 120px;
	}
	.x50_circle__last_colors__item-turquoise {
		background: #277486;
		/* width: 20px; */
		width: 120px;
	}
	.x50_circle__last_colors__item-red {
		background: #CE354F;
		/* width: 40px; */
		width: 120px;
	}
	.table {
		font-size: 14px;
	}