body {
	padding: 0;
	margin: 0;
}
a:hover {
	color: inherit !important;
	text-decoration: none !important;
}
.container-nav {
	padding: 0px 40px;
}
img {
	pointer-events: none;
}
.table-players {
	max-width: 90%;
	/* margin: 40px auto 40px auto; */
	margin: 40px auto 0px auto;
	height: 400px;
	overflow-y: scroll;
}
.table-players::-webkit-scrollbar{
  background: rgba(30, 44, 61, 0.7);
  border-radius: 5px;
  width: 8px;
}
.table-players::-webkit-scrollbar-thumb{
	background: rgb(42, 59, 80);
 	border-radius: 5px;
}
body {
	height: 100% !important;
	padding-bottom: 40px;
}
.table-head {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 15px 0px;
}
.table-subhead {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px 0px;
}
.table-content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px 0px;
}
.table-head-item {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	margin: 0px 30px;
	color: #9098A3;
}
.table-subhead-item {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #F1CD5B;
	margin: 0px 10px;
	width: 15%;
	justify-content: center;
}
.table-content-item {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	margin: 0px 10px;
	width: 15%;
	justify-content: center;
}
.table-colored:nth-child(even) {
	background: rgba(16, 29, 46, 0.7);
}
.table-colored:nth-child(odd) {
	background: rgba(19, 34, 52, 0.7);
}
#header {
	background: #101B28;
	margin: 0;
}
.game-main-content-part {
	margin-top: 30px;
}
.navigation {
	width: 100%;
	padding: 5px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navigation-item-container {
	display: flex;
	align-items: center;
}
.navigation-item-container-item {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	color: #9098A3;
	margin: 0px 15px;
	text-decoration: none;
}
.navigation-item-container-item-boldText {
	color: #F1CD5B;
}
.navigation-item-container-item-wrapper {
	display: flex;
	align-items: center;
}
.navigation-item-container-item-wrapper-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	color: #9098A3;
	margin: 0px 7px;
	text-decoration: none;
}
.navigation-item-container-item-wrapper {
	margin: 0px 10px;
}
#header-scnd {
	background: #132234;
}
.navigation-scnd {
	width: 100%;
	padding: 10px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navigation-scnd-item-container {
	margin: 0px 15px;
}
.navigation-scnd-item-container-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	text-decoration: none;
	margin: 0px;
	cursor: pointer;
}
.navigation-scnd-item-container-text-boldText {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 14px;
	line-height: 16px;
	color: #F1CD5B;
	padding: 6px 50px;
	background: #101B28;
	border-radius: 13px;
	margin: 0px;
}
.navigation-scnd-item-container-2 {
	margin: 0px 15px;
}

.navigation-scnd-item-container-2-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	color: #FFFFFF;
	cursor: pointer;
}
.active-value {
	text-decoration-line: underline;
	color: #F1CD5B;
}

.navigation-scnd-item-container-image {
	border-radius: 50%;
	border:9px solid #101B28;
	background: #101B28;
	margin: 0px 7.5px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navigation-item-container-wrapper-socials {
	display: flex;
	align-items: center;
	/* margin-right: 30px; */
}
.navigation-item-container-wrapper-socials-2 {
	display: none;
}
.navigation-item-container-wrapper-user {
	background: #101B28;
	border-radius: 13px;
	padding: 3px 20px 3px 2px;
	display: flex;
	align-items: center;
}
.navigation-item-container-wrapper-user-image {
	border-radius: 50%;
}
.navigation-item-container-wrapper-user-name {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	line-height: 12px;
	color: #FFFFFF;
	margin: 0px 0px 0px 10px;
}
#header .navigation-item-container:last-child {
	margin-left: -80px;
}
.games-item {
	display: flex;
	align-items: center;
	margin: 0px 20px;
	cursor: pointer;
}
.games-item-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	text-transform: uppercase;
	margin: 0px 0px 0px 10px;
}
#header-thrd {
	background: #101B28;
	padding: 8px 0px;
	position: relative;
}
.games-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.games {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.games-item-active p {
	text-decoration-line: underline;
	color: #F1CD5B;
}
.rules-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	margin: 0px 15px;
	text-decoration: none;
}
.rules {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 0px;
}
.navigation-item-container-menu-2 {
	display: none;
}
.rules-title-game {
	display: none;
}
.nav-valutes-wrapper {
	display: flex;
	align-items: center;
}
#header-scnd {
	position: relative;
}
#header-scnd-menu-1 {
	position: absolute;
	right: 0px;
	top: 65px;
	background: #132234;
	padding: 10px 15px;
	width: 150px;
	display: none;
	z-index: 999;
}
.header-scnd-menu-item {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	margin: 10px 0px;
	text-decoration: none;
	display: block;
	cursor: pointer;
}
.header-scnd-menu-item:hover {
 color:#fff !important;
}
#header-scnd-menu-2 {
	position: absolute;
	right: 0px;
	left:0px;
	top: 35px;
	background: #101B28;;
	padding: 10px 15px;
	width: 100%;
	display: none;
	z-index: 995;
}
.gamesRouter-active {
	color: #F1CD5B;
}
.games-item-menu-2 {
	display: flex;
	align-items: center;
	margin: 0px 10px;
	cursor: pointer;
}
.games-item-text-menu-2 {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	text-transform: uppercase;
	margin: 8px 0px 8px 4px;
}
.navigation-scnd-item-container-2-text {
	margin: 0px;
}
@media screen and (max-width: 1340px) {
	.balance {
		display: none;
	}
	.navigation-scnd-item-container-2-text {
		margin: 0px;
	}
	.navigation-scnd-item-container-2 {
		margin: 0px 5px;
	}
	.navigation-item-container-wrapper-socials {
		margin-right: 0px;
	}
	.navigation-scnd-item-container-image {
		margin: 0px 3px;
	}
	.navigation-scnd-item-container-text-boldText {
		padding: 6px 10px;
		white-space: pre;
	}
	.navigation-item-container-item-wrapper {
		margin: 0px 5px;
	}
	.navigation-item-container-item-wrapper-text {
		margin: 0px 3px;
	}
	.navigation-item-container-item {
		margin: 0px 5px;
	}
}

@media screen and (max-width: 1100px) {
	.navigation-item-container-wrapper-socials-2 {
		display: flex;
	}
	.navigation-item-container-wrapper-socials-1 {
		display: none;
	}
	.navigation-hrefs {
		display: none;
	}
	.navigation-item-container-item-wrapper-text, .navigation-item-container-item-wrapper-image-disNoneMobile {
		display: none;
	}
	.navigation-scnd-item-container-text {
		display: none;
	}
	.games {
		justify-content: flex-start;
	}
}

@media screen and (max-width: 920px) {
	.navigation-item-container-menu {
		display: none;
	}
	.navigation-item-container-menu-2 {
		display: block;
		width: 15px;
		cursor: pointer;
	}
	.navigation-item-container-menu-2 span {
		width: 100%;
		height: 2px;
		background: #DADADA;
		display: block;
		margin: 2px 0px;
	}
	.navigation-item-container-menu-active span {
		background: #F1CD5B;
	}
	.navigation-scnd-item-container {
		margin: 10px 5px;
	}
	.navigation-statistic {
		display: none;
	}
	.games-item, .rules-title {
		margin: 0px 5px;
	}
	.games-item-text {
		margin-left: 4px;
	}
}
@media screen and (max-width: 650px) {
	.rules-title-game {
		display: block;
	}
	.games-item {
		display: none;
	}
	.games-item:first-child {
		display: flex;
	}
	.container-nav {
		padding: 0px 20px;
	}
}

@media screen and (max-width: 530px) {
	.rules-title-game {
		display: block;
	}
	.games-item {
		display: none;
	}
	.games-item:first-child {
		display: flex;
	}
	.container-block-balance {
		display: block;
	}
	.nav-valutes-wrapper {
		justify-content: center;
	}
	.logo {
		display: none;
	}
	#header-scnd-menu-1 {
		width: 100%;
		right:0px;
		left: 0px;
	}
	.navigation-scnd-item-container {
		margin: 10px 5px;
	}
}




.game-rule {
  width: 90%;
  max-width: 520px;
  margin: 100px auto 10px auto;
  background: #101B28;
  border: 1px solid #F1CD5B;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.game-rule-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #101B28;
  padding: 16px 25px;
}

.game-title {
  display: flex;
  align-items: center;
}

.game-title-rules {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #F1CD5B;
  margin: 0px;
}
.games-item-text {
  margin-left: 0px;
}
.games-item-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.game-rule-content {
  box-sizing: border-box;
}

.game-rule-content-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin: 0px;
}
.game-rule-content-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  padding: 14px 25px;
  cursor: pointer;
  background: #101B28;
}

.blur {
	width: 100%;
	height:	100vh;
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	z-index: 99999;
}
.modal {
	width: 90%;
	max-width: 520px;
	left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #101B28;
  border: 1px solid #F1CD5B;
  box-sizing: border-box;
	position: absolute;
	z-index: 999999;
}
.close {
	cursor: pointer !important;
	pointer-events: all !important;
}

.honestGame-content {
	background: #132234;
	padding: 10px 0px;
	width: 100%;
	padding-bottom: 20px;
}

.honestGame-content .item-content-text {
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 15px 0px;
}

.honestGame-input {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	padding: 12px 15px;
	width: 100%;
	background: #131C2D;
	border: 1px solid transparent;
	box-sizing: border-box;
	outline: none;
	margin: 7.5px 0px;
}

.honestGame-input::-webkit-input-placeholder {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
}

.honestGame-input:focus {
	border: 1px solid #F1CD5B;
}

.honestGame-inputs {
	padding: 0px 25px;
	margin-top: 20px;
}

.honestGame-btn {
	outline: none;
	background: #F1CD5B;
	width: 45%;
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #101B28;
	border: none;
	padding: 12px 0px;
	text-align: center;
	margin: 7.5px 0px;
	display: block;
	margin-left: auto;
	cursor: pointer;
}

.honestGame-inputs-flex {
	margin-top: 20px;
	display: flex;
	width: 100%;
	/* align-items: flex-start; */
	justify-content: space-between;
}

.inputs-slash {
	width: 23%;
	background: transparent;
}

.honestGame-inputs-flex-item {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #131C2D;
	padding: 12px 15px;
	cursor: pointer;
}

.honestGame-inputs-flex-item:nth-child(2) {
	
	padding: 20px 15px;
}

.honestGame-inputs-flex-item-name {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #9098A3;
	margin: 0px;
	text-transform: uppercase;
}

.honestGame-inputs-flex-item img {
	transform: rotateX(180deg)
}

@media screen and (max-width: 400px) {
	.honestGame-inputs-flex {
		display: block;
	}
	.honestGame-inputs-flex-item:nth-child(3) {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.inputs-slash {
		display: none;
	}
	.honestGame-inputs-flex-item {
		margin: 10px 0px;
		max-width: 90%;
	}
	.honestGame-btn {
		width: 100%;
	}
}

.dividend-content {
	background: #132234;
	padding: 20px 25px;
	padding-bottom: 20px;
}

.progress-line {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.progress-level-left {
	width: 30px !important;
	height: 30px !important;
	line-height: 0px;
	background: #101B28;
	border-radius: 50%;
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 14px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #F1CD5B;
	justify-content: center;
	z-index: 999;
}

.progress-line-item {
	width: calc(100% - 40px);
	height: 25px;
	background: #101B28;
}

.progress-line-fill {
	background: linear-gradient(270deg, #F1CD5B 0%, #101B28 100%);
	width: calc(60% + 20px);
	margin-left: -10px;
	margin-right: -10px;
	height: 100%;
}

.progress-level-right {
	width: 30px !important;
	height: 30px !important;
	line-height: 0px;
	background:#F1CD5B;
	border-radius: 50%;
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 14px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #101B28;
	justify-content: center;
	z-index: 999;
}

.progress-numbers {
	display: flex;
	align-items: center;
	width: 50%;
	margin: 20px auto;
}

.progress-numbers-item {
	display: flex;
	align-items: center;
}

.progress-numbers-item-counter {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	margin: 0px;
	margin-right: 10px;
}

.progress-numbers-item img {
	width: 23px;
}

.progress-numbers-slash {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	margin: 0px 20px;
	margin-right: 10px;
}

.dividend-table {
	width: 100%;
	margin: 20px 0px;
}

.dividend-table-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #101B28;
	padding: 15px 0px;
}

.dividend-table-item-name {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #F1CD5B;
	margin: 0px;
	text-align: center;
}

.dividend-table-item-name:nth-child(1) {
	width: 30%;
}
.dividend-table-item-name:nth-child(2) {
	width: 70%;
}

.dividend-table-item-1 {
	background: #EBC859;
}
.dividend-table-item-1 .dividend-table-item-name {
	color: #101B28;
}

.dividend-table-item-2 .dividend-table-item-name {
	color: #fff;
}

.table-more {
	display: flex;
	align-items: center;
	justify-content: center;
}

.table-more-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	margin-right: 15px;
	cursor: pointer;
}
.dividend-pool {
	background: #101B28;
	padding: 25px;
}

.dividend-pool-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dividend-pool-head-caption {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	color: #F1CD5B;
}

.dividend-pool-head-coof {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	margin: 0px;
}

.dividend-pool-btns {
	margin: 20px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dividend-pool-btns-item {
	border: 1px solid #EBC859;
	box-sizing: border-box;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #F1CD5B;
	margin: 0px 2.5px;
	padding: 6px 0px;
	width: 70px;
}

.dividend-pool-btns-item img {
	width: 22px;
	position: relative;
	top: 3px;
}

.dividend-pool-desc {
	display: flex;
	align-items: center;
	justify-content: center;
}

.dividend-pool-desc-name {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	margin: 0px;
	margin-right: 10px;
}

.dividend-footer {
	margin-top: 30px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.dividend-footer-leftSide {
	width: 65%;
}

.dividend-footer-leftSide-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dividend-footer-leftSide-title-item {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	color: #F1CD5B;
	margin: 0px;
}

.dividend-footer-leftSide-title-balance {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	margin: 0px;
}

.dividend-balance {
	display: flex;
	align-items: center;
	padding: 12px 16px;
	justify-content: space-between;
	background: #131C2D;
	margin-top: 15px;
}

.dividend-balance-item {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	margin: 0px;
}

.dividend-balance-item-valute {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	margin: 0px;
}

.dividend-footer-rightSide {
	width: 25%;
}

.dividend-footer-rightSide .honestGame-btn {
	width: 100%;
	margin: 0px;
	padding: 11.5px 0px;
}

@media screen and (max-width: 510px) {
	.dividend-table-item {
		padding: 15px 10px;
	}
	.dividend-footer {
		display: block;
	}
	.dividend-footer-leftSide, .dividend-footer-rightSide {
		width: 100%;
	}
	.dividend-footer-rightSide .honestGame-btn {
		margin: 10px 0px;
	}
	.dividend-pool-head-coof {
		font-size: 9px;
	}
	.dividend-pool-head-caption {
		font-size: 12px;
	}
	.progress-numbers {
		width: 100%;
		justify-content: center;
	}
	.dividend-pool-btns-item {
		padding: 3px 0px;
		width: 50px;
		font-size: 18px;
	}
}