<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Кофе - Корзина</title>
  <!-- Links -->
  <link rel="stylesheet" href="./assets/css/reset.css">
  <link rel="stylesheet" href="./assets/css/style.min.css">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,300i,700&display=swap&subset=cyrillic"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>
  <div id="app">
    <div class="content">
      <header class="header">
        <div class="container">
          <div class="header-container">
            <a class="logo" href="./index.html">
              <img ondragstart="return false" src="./assets/images/logo.png" alt="">
            </a>
            <div class="info">
              <div class="cart">
                <p class="cart-text"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Корзина <span
                    v-if="itemsInCart > 0">( {{ itemsInCart }}шт. на {{ itemsPriceInCart }}руб. )</span></p>
              </div>
              <div class="phone">
                <a href="tel:83425369986" class="phone-text"><i class="fa fa-phone" aria-hidden="true"></i>8 (34253)
                  699-86</a>
              </div>
              <div class="adress">
                <p class="adress-text"><i class="fa fa-location-arrow" aria-hidden="true"></i>г. Н. Новгород, ул.
                  Пожарского,
                  9А</p>
              </div>
            </div>
          </div>
        </div>
      </header>
      <main class="cart-main-wrapper">
        <div class="container">
          <h1 class="cart-title"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Корзина <span
              v-if="itemsInCart > 0">( {{ itemsInCart }}, {{ itemsPriceInCart }}руб. )</span></h1>
          <div class="table" v-if="inCart.length > 0">
            <ul class="table-head">
              <li class="table-head-item">Товар</li>
              <li class="table-head-item">Название</li>
              <li class="table-head-item">Цена</li>
              <li class="table-head-item">Количество</li>
              <li class="table-head-item">Итого</li>
            </ul>
            <ul class="table-body" v-for="(item, index) in inCart" :key="index + Math.random()">
              <li class="table-body-item"><img ondragstart="return false"
                  :src="`./assets/images/catalog-items/${item.image}`" alt=""></li>
              <li class="table-body-item">{{ item.title }} {{ item.volume }}</li>
              <li class="table-body-item">{{ item.price }} руб.</li>
              <li class="table-body-item">
                <div class="value">
                  <p class="value-text">{{ item.inCartAmount }}</p>
                  <div class="controls">
                    <div @click="amountChange(item, 'plus')" class="plus">+</div>
                    <div @click="amountChange(item, 'minus')"class="minus">-</div>
                  </div>
                </div>
              </li>
              <li class="table-body-item">{{ item.price * item.inCartAmount }} руб.</li>
              <i @click="deleteInCartItem(item)" class="delete-item-icon fa fa-trash" aria-hidden="true"></i>
            </ul>
            <ul class="table-info">
              <li class="table-info-item">
                <p>Стоимость товаров:</p>
                <p class="price">{{ itemsPriceInCart }} руб.</p>
              </li>
              <li class="table-info-item">
                <p>Стоимость доставки:</p>
                <p class="price">{{ deliveryPrice }} руб.</p>
              </li>
              <li class="table-info-item">
                <p>Итого:</p>
                <p class="price">{{ itemsPriceInCart + deliveryPrice }} руб.</p>
              </li>
            </ul>
            <p class="cart-title"><i class="fa fa-rocket" aria-hidden="true"></i> Доставка</p>
            <label class="label" for="delivery-1">
              <input v-model="deliveryMethod" value="Доставка курьером до квартиры от 40 до 60 минут"
                class="delivery-input" id="delivery-1" type="radio" name="delivery">
              <p class="label-title">Доставка курьером до квартиры от 40 до 60 минут - {{ deliveryPrice }} руб.</p>
            </label>
            <label class="label" for="delivery-2">
              <input v-model="deliveryMethod" value="Доставка на определенное время по вашему адресу"
                class="delivery-input" id="delivery-2" type="radio" name="delivery">
              <p class="label-title">Доставка на определенное время по вашему адресу - {{ deliveryPrice }} руб.</p>
            </label>
            <p class="label-desc">* Бесплатная доставка от 400 руб.</p>
            <button @click="modalSuccessIsActive = true" class="btn-success">Заказать</button>
          </div>
          <p class="cart-is-empty" v-else>Ваша корзина пуста</p>
        </div>
      </main>
    </div>
    <div v-if="modalSuccessIsActive" class="modal" @click.self="closeModal">
      <div id="modal-1" class="modal-container">
        <i @click="closeModal" class="close-icon fa fa-times" aria-hidden="true"></i>
        <label for="modal-name-input">
          <p class="modal-name-input-title">Ваше имя: <i v-show="form.name.isError"
              class="fa icon fa-exclamation-triangle" aria-hidden="true"></i></p>
          <input @input="isError('name')" v-model="form.name.value" id="modal-name-input" class="modal-success-input"
            placeholder="Имя" type="text" name="name" autocomplete="off">
        </label>
        <label for="modal-name-input-2">
          <p class="modal-name-input-title">Ваш телефон: <i v-show="form.phone.isError"
              class="fa icon fa-exclamation-triangle" aria-hidden="true"></i></p>
          <input @input="isError('phone')" v-model="form.phone.value" id="modal-name-input-2"
            class="modal-success-input" placeholder="Телефон" type="text" name="phone" autocomplete="off">
        </label>
        <label class="checkbox-input" for="modal-name-input-3">
          <input v-model="form.isAgree" id="modal-name-input-3" type="checkbox">
          <p class="checkbox-title">Я согласен на обработку персональных данных</p>
        </label>
        <button :disabled="isBtnActive" @click="makeOrder" class="btn-success">Заказать</button>
      </div>
      <div style="display: none" id="modal-2" class="modal-container">
        <i @click="closeModal" class="close-icon fa fa-times" aria-hidden="true"></i>
        <p class="modal-thanks-title">Спасибо за вашу заявку!</p>
        <a class="btn-href" href="./index.html">
          <button class="btn-success">На главную</button>
        </a>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-container">
      <div class="text">
        <div class="cart">
          <a href="./cart.html" class="cart-text"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Корзина</a>
        </div>
        <div class="phone">
          <a href="tel:83425369986" class="phone-text"><i class="fa fa-phone" aria-hidden="true"></i>8 (777)
            699-86</a>
        </div>
        <div class="phone">
          <a href="tel:83425369986" class="phone-text"><i class="fa fa-phone" aria-hidden="true"></i>8 (222)
            115-36</a>
        </div>
        <div class="adress">
          <p class="adress-text"><i class="fa fa-location-arrow" aria-hidden="true"></i>г. Н. Новгород, ул.
            Пожарского,
            9А</p>
        </div>
      </div>
      <div class="text-desc">
        <p class="text-desc-item">
          <span>Условия и время доставки:</span>
        </p>
        <p class="text-desc-item">
          При сумме заказа от 400 руб.лей по городу доставка <span>БЕСПЛАТНАЯ</span>, при сумме заказа менее 400 руб.лей
          стоимость доставки
          составит 100 руб.лей. В отдаленные районы города стоимость доставки уточняйте у оператора. Робин Ролл старается
          доставить
          Вам заказ в течение одного часа, однако иногда время доставки может быть увеличено (большое количество
          заказов,
          отдаленный район доставки, большой заказ). Вы можете сделать заказ прямо на сайте, он будет доставлен после
          того, как
          оператор свяжется с Вами и уточнит позиции в заказе и время доставки.
        </p>
        <p class="text-desc-item">
          <span>Условия оплаты заказа:</span>
        </p>
        <p class="text-desc-item">
          Вы можете оплатить заказ наличными, либо воспользоваться безналичным расчетом (курьер приедет к Вам с
          переносным
          терминалом). О способе оплаты предупредите, пожалуйста, оператора заранее. В случае оплаты крупной купюрой,
          пожалуйста,
          предупредите об этом оператора в момент оформления заказа.
        </p>
      </div>
    </div>
  </div>
  <!-- Scripts -->
  <script src="./assets/js/vue@2.6.11.js"></script>
  <script src="./assets/js/app.js"></script>
</body>

</html>