@import 'fonts/fonts.scss';
@import 'footer.scss';
@import 'header.scss';

body {
  background-color: #F2F2F2;
  & p {
    margin: 0px;
  }
}

.calculator-component {
  padding-top: 50px;
}

.scaleY-enter,
.scaleY-leave-to {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
}
.scaleY-enter-active,
.scaleY-leave-active {
  transition-duration: 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
}
.zoom-out-enter,
.zoom-out-leave-to {
  opacity: 0;
  transform: scale(0);
  position: absolute;
}
.zoom-out-enter-active,
.zoom-out-leave-active {
  transition-duration: .5s;
}

// header {
//   height: 80px;
//   background-color: red;
// }

.home {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.overlay-title {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;

  h1 {
    font-family: 'g-Bold';
    max-width: 530px;
    font-size: 32px;
    line-height: 34px;
    text-align: center;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #333230;
    margin-bottom: 10px;
    @media screen and (min-width: 1024px) {
      font-size: 52px;
      line-height: 44px;
    }
  }

  p {
    font-family: "g-SemiBold";
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.44px;
    color: #808080;
  }
}

.swiper-slide {
  background: #F1F0F2;
  border: 0.5px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  height: 66px;
  align-items: center;
  padding: 0 10px 0 19px;
}

.swiper-slide {
  cursor: pointer;
  &-index {
    font-family: "g-SemiBold";
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #333230;
    opacity: 0.34;
    width: 20px;
  }

  span {
    font-family: "g-Bold";
    font-size: 12px;
    line-height: 12px;
    color: #333230;
  }

  &-number {
    width: 82px;
    display: inline-block;
  }

  svg {
    margin: 0 10px 0 5px;
  }

}

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  display: none;
}

.swiper-row {
  margin-top: 40px;
}

.calc-subtext {
  display: flex;
  align-items: center;

  .calc-text {
    font-family: "g-SemiBold";
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.44px;
    color: #808080;
    width: 120%;
  }

  .left-border, .right-border {
    background: #D9D9D9;
    height: 1px;
    width: 100%;
    position: relative;
    top: 3px;
  }
}

.subtext-row {
  margin: 20px 0 24px 0;

  .col-12 {
    padding: 0 !important;
  }
}

.services-row {
  &-active{
    background: linear-gradient(149.74deg, #E61817 -33.34%, #FFAA46 85.72%) !important;
    box-shadow: 0px 10px 10px rgba(255, 169, 70, 0.24) !important;
    span{
      color: #F5F4F6 !important;
    }
  }
  .services-row-items{
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 480px) {
      justify-content: space-between;
    }
    @media screen and (min-width: 992px) {
      justify-content: flex-start;
    }
  }
  .services-row-card {
    position: relative;
  }
  .helper-text {
    position: absolute;
    pointer-events: none;
    max-width: 100%;
    width: 100%;
    background: rgba(51, 50, 48, 0.95);
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    bottom: 140px;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition-duration: .3s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &:after {
      content: '';
      width: 0; 
      height: 0;
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-top: 14px solid rgba(51, 50, 48, 0.95);
      position: absolute;
      bottom: -14px;
      left: 50%;
      transform:translate(-50%, 0);
    }
  }
  .services-row-card:hover .helper-text{
    visibility: visible;
    opacity: 1;
  }
  &-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #F1F0F2;
    border: 0.5px solid #D9D9D9;
    border-radius: 6px;
    padding: 20px 10px;
    margin-bottom: 8px;
    cursor: pointer;
    @media screen and (min-width: 480px) {
      width: calc(50% - 4px);
    }
    @media screen and (min-width: 992px) {
      width: calc(33.33% - 6px);
      margin-right: 8px;
    }
    @media screen and (min-width: 1200px) {
      width: calc(25% - 6px);
    }

    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(9),
    &:nth-child(12),
    &:nth-child(15) {
      @media screen and (min-width: 992px) {
        margin-right: 0;
      }
      @media screen and (min-width: 1200px) {
        margin-right: 8px;
      }
    }
    &:nth-child(4),
    &:nth-child(8),
    &:nth-child(12),
    &:nth-child(16),
    &:nth-child(20) {
      @media screen and (min-width: 1200px) {
        margin-right: 0;
      }
    }
    svg{
      margin-bottom: 12px;
    }
    span{
      font-family: "g-SemiBold";
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.444444px;
      color: #333230;
    }
  }
}
.underline{
  margin: 24px 0;
  background: #D9D9D9;
  width: 100%;
  height: 1px;
}
.overlay-settings{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 60px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  a{
    width: 180px;
    height: 100%;
    background: #FFA946;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
      font-family: "g-Bold";
      font-size: 18px;
      line-height: 21px;
      letter-spacing: -0.5px;
      color: #F5F4F6;
    }
  }
  a:hover{
    text-decoration: none !important;
    opacity: 0.8;
  }
  &-btn {
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
  &-step{
    margin-left: 16px;
    font-family: "g-SemiBold";
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.444444px;
    color: #333230;
  }
  &-price{
    .overlay-settings-text{
      font-family: "g-SemiBold";
      font-size: 16px;
      line-height: 20px;
      text-align: right;
      letter-spacing: -0.444444px;
      color: #808080;
      width: 232px;
      display: inline-block;
      margin-right: 12px;
    }
    b{
      font-family: "g-Bold";
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -1.5px;
      color: #333230;
    }
    @media screen and (max-width: 450px) {
      & {
        display: block;
      }
      & .overlay-settings-text {
        text-align: left;
      }
      & b {
        margin-top: 15px;
      }
      & .overlay-settings-text, & b {
        display: block;
      }
    }
  }
}
.my-active-swiper{
  background-color:  #FFA946 !important;
  span{
    color: #fff !important;
  }
}

.swiper-button-next {
  outline: none;
  width: 9px;
  height: 16px;
  right: 0;
  margin: 0;
  top: calc(50% - 8px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.67619 8.79208L1.88741 15.6716C1.45556 16.1095 0.755394 16.1095 0.323755 15.6716C-0.107918 15.2342 -0.107918 14.5246 0.323755 14.0872L6.33078 7.99989L0.32393 1.91276C-0.107744 1.47513 -0.107744 0.765684 0.32393 0.328226C0.755604 -0.109409 1.45574 -0.109409 1.88759 0.328226L8.67637 7.20786C8.8922 7.4267 9 7.7132 9 7.99985C9 8.28664 8.89199 8.57335 8.67619 8.79208Z' fill='%23333230'/%3E%3C/svg%3E%0A");
}

.swiper-button-prev {
  outline: none;
  width: 9px;
  height: 16px;
  left: 0;
  margin: 0;
  top: calc(50% - 8px);
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.67619 8.79208L1.88741 15.6716C1.45556 16.1095 0.755394 16.1095 0.323755 15.6716C-0.107918 15.2342 -0.107918 14.5246 0.323755 14.0872L6.33078 7.99989L0.32393 1.91276C-0.107744 1.47513 -0.107744 0.765684 0.32393 0.328226C0.755604 -0.109409 1.45574 -0.109409 1.88759 0.328226L8.67637 7.20786C8.8922 7.4267 9 7.7132 9 7.99985C9 8.28664 8.89199 8.57335 8.67619 8.79208Z' fill='%23333230'/%3E%3C/svg%3E%0A");
}

html::-webkit-scrollbar {
  background: #e4e4e4;
  width: 8px;
}
html::-webkit-scrollbar-thumb {
  background: rgba(45, 45, 45, 0.7);
  // border-radius: 5px;
}

.section {
  background-color: #F4F2F4;
  // @media screen and (max-width: 968px) {
  //   & {
  //     zoom: .8;
  //   }
  // }
}
.container-custom {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
}

.section-1 {
  padding: 92px 10px 32px 10px;
  min-height: 100vh;
  position: relative;
  border-bottom: 2px solid #D9D9D9;
  background-image: url("../images/section-1/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (max-width: 968px) {
    & {
      display: flex;
      flex-direction: column;
    }
  }
  & .container-custom {
    & .title {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      user-select: none;
      z-index: 3;
      @media screen and (max-width: 968px) {
        & {
          max-width: 100%;
          width: 100%;
          padding: 0px 20px;
        }
      }
      @media screen and (max-width: 500px) {
        & {
          position: relative;
          top: 0px;
          left: 0px;
          transform: translate(0, 0);
        }
      }
      @media screen and (max-height: 600px) {
        & {
          position: relative;
          top: 0px;
          left: 0px;
          transform: translate(0, 0);
        }
      }
      & .subtitle {
        font-family: 'g-SemiBold';
        max-width: 400px;
        color: #545351;
        font-size: 2rem;
        margin: 0px auto 32px auto;
        @media screen and (max-width: 968px) {
          & {
            max-width: 100%;
            width: 100%;
            font-size: 1.5rem;
          }
        }
      }
      & .main-title {
        color: #333230;
        text-transform: uppercase;
        font-size: 4.5rem;
        font-weight: 800;
        max-width: 600px;
        margin: 0px auto 0px auto;
        font-family: 'g-Bold';
        line-height: 4rem;
        & span {
          color: #E61818;
        }
        @media screen and (max-width: 968px) {
          & {
            font-size: 2.5rem;
            line-height: 2.5rem;
            margin-top: 30px;
          }
        }
      }
    }
  }
  & .bg-illustration {
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-100%, -50%);
    z-index: 2;
    @media screen and (min-width: 969px) {
      &.bg-illustration-mobile {
        display: none;
      }
    }
    @media screen and (max-width: 968px) {
      & {
        position: static;
        top: 0px;
        left: 0px;
        transform: none;
        width: 270px;
      }
      &.bg-illustration-desktop {
        display: none;
      }
    }
  }
  & .icon-wrapper {
    position: absolute;
    left: calc(50% - 75px);
    bottom: -26px;
    width: 150px;
    margin: 0px auto 0px auto;
    text-align: center;
    z-index: 2;
    background: #F4F2F4;
  }
}

.sec-1-div {
  position: relative;
  & .video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}

.section-2 {
  padding: 92px 10px 0px 10px;
  position: relative;
  overflow: hidden;
  user-select: none;
  & .container-custom {
    border-bottom: 1px solid #D9D9D9;
    position: relative;
    z-index: 10;
    overflow: hidden;
  }
  & .title {
    font-size: 4.5rem;
    line-height: 4rem;
    text-align: center;
    color: #333230;
    text-transform: uppercase;
    font-family: 'g-Bold';
    margin: 50px 0px 20px 0px;
    @media screen and (max-width: 968px) {
      & {
        font-size: 3rem;
        line-height: 3rem;
      }
    }
  }
  & .subtitle {
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
    max-width: 700px;
    margin: 70px auto 30px auto;
    color: #8B8985;
    font-family: 'g-SemiBold';
    @media screen and (max-width: 968px) {
      & {
        font-size: 2rem;
        line-height: 2rem;
      }
    }
  }
  & .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    & .icon {
      width: calc(100% / 10);
      margin: 20px 0px;
      text-align: center;
      & img {
        user-select: none;
      }
    }
    @media screen and (max-width: 567px) {
      & .icon {
        width: calc(100% / 8);
        &-25 {
          display: none;
        }
      }
    }
  }
  & .cards-services {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media screen and (max-width: 968px) {
      & {
        display: block;
      }
    }
    &-item.openedTop {
      margin-top: -160px;
    }
    &-item {
      margin-top: -80px;
      min-height: 311px;
      cursor: pointer;
      transition-duration: .3s;
      & * {
        transition-duration: .3s;
      }
      @media screen and (max-width: 969px) {
        & {
          margin-top: 20px !important;
        }
        & .opened {
          display: block !important;
        }
        & .opened .text {
          display: block !important;
        }
        & .closed {
          display: none !important;
        }
      }
      & .opened {
        & .icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        & .card-decor-1 {
          position: absolute;
          bottom: -13px;
          right: -13px;
        }
        & .card-decor-2 {
          position: absolute;
          top: 379px;
          right: -13px;
        }
        & .card-decor-3 {
          position: absolute;
          top: 379px;
          right: -2px;
        }
        & .card-decor-4 {
          position: absolute;
          top: 379px;
          left: -1px;
        }
      }
      & .closed {
        & .icon {
          width: 70px;
        }
        & .card-decor-1 {
          position: absolute;
          bottom: 0px;
          right: 0px;
        }
        & .card-decor-2 {
          position: absolute;
          bottom: -13px;
          right: -13px;
        }
        & .card-decor-3 {
          position: absolute;
          top: 250px;
          right: -2px;
        }
      }
    }
    &-item-1 {
      margin-top: -80px;
      width: calc((100% / 3) - 25px);
      & .card-decor-1 {
        position: absolute;
        bottom: 0px;
        right: 0px;
      }
      & .card-decor-2 {
        position: absolute;
        bottom: -13px;
        right: -13px;
      }
      & .card-decor-3 {
        position: absolute;
        top: 250px;
        right: -2px;
      }
    }
    &-item-2 {
      // margin-top: -160px;
      width: calc((100% / 3) + 20px);
      // & .opened {
      //   & .icon {
      //     position: absolute;
      //     top: 50%;
      //     left: 50%;
      //     transform: translate(-50%, -50%);
      //   }
      //   & .card-decor-1 {
      //     position: absolute;
      //     bottom: -13px;
      //     right: -13px;
      //   }
      //   & .card-decor-2 {
      //     position: absolute;
      //     top: 379px;
      //     right: -13px;
      //   }
      //   & .card-decor-3 {
      //     position: absolute;
      //     top: 379px;
      //     right: -2px;
      //   }
      //   & .card-decor-4 {
      //     position: absolute;
      //     top: 379px;
      //     left: -1px;
      //   }
      // }
      // & .closed {
      //   & .card-decor-1 {
      //     position: absolute;
      //     bottom: 0px;
      //     right: 0px;
      //   }
      //   & .card-decor-2 {
      //     position: absolute;
      //     bottom: -13px;
      //     right: -13px;
      //   }
      //   & .card-decor-3 {
      //     position: absolute;
      //     top: 250px;
      //     right: -2px;
      //   }
      // }
    }
    &-item-3 {
      margin-top: -80px;
      width: calc((100% / 3) - 25px);
      & .card-decor-1 {
        position: absolute;
        bottom: 0px;
        right: 0px;
      }
    }
    &-item {
      background: #F4F2F4;
      border: 1px solid #D9D9D9;
      box-sizing: border-box;
      box-shadow: 0px 0px 4px rgba(237, 237, 237, 0.2);
      border-radius: 4px;
      padding: 40px;
      position: relative;
      user-select: none;
      z-index: 1;
      @media screen and (min-width: 968px) {
        & .desktop {
          display: block;
        }
        & .mobile {
          display: none;
        }
      }
      @media screen and (max-width: 968px) {
        & .desktop {
          display: none;
        }
        & {
          overflow: hidden;
        }
        & .mobile {
          display: block;
          & .card-mobile-decor-1 {
            position: absolute;
            right: 0px;
            bottom: 0px;
          }
          & .card-mobile-decor-2 {
            position: absolute;
            right: 0px;
            bottom: 0px;
          }
          & .card-mobile-decor-3 {
            position: absolute;
            right: 120px;
            bottom: 0px;
          }
        }
      }
      & .opened {
        & .text {
          display: block;
        }
        @media screen and (max-width: 968px) {
          & {
            & .link {
              display: none;
            }
          }
        }
        & .title {
          color: #8B8985;
        }
        & .subtitle {
          color: #8B8985;
          margin: 30px 0px;
        }
        & .desc {
          color: #545351;
          font-family: 'g-SemiBold';
          font-size: 1rem;
          // line-height: 1rem;
          margin: 10px 0px;
        }
        & .link {
          color: #E61818;
          font-family: 'g-Bold';
          font-size: 1rem;
          margin: 35px 0px 5px 0px;
          cursor: pointer;
          text-align: center;
        }
      }
      @media screen and (max-width: 968px) {
        & {
          width: calc(100% - 200px);
          margin: 20px auto;
          padding: 30px;
        }
        &-1 {
          margin-top: -70px;
        }
      }
      @media screen and (max-width: 568px) {
        & {
          width: 100%;
          margin: 20px auto;
        }
      }

      & .title {
        font-family: 'g-Bold';
        font-size: 2rem;
        line-height: 2.1rem;
        color: #FFA949;
        text-align: center;
        text-transform: none;
        margin: 0px;
        & img {
          display: none;
        }
        @media screen and (max-width: 968px) {
          & img {
            display: inline-block;
            margin-left: 10px;
            margin-bottom: 5px;
          }
          & {
            color: #E61818 !important;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: left;
          }
        }
      }
      & .subtitle {
        font-size: 1.3rem;
        font-family: 'g-SemiBold';
        line-height: 1.3rem;
        text-align: center;
        color: #FFA949;
        margin: 15px 0px;
        @media screen and (max-width: 968px) {
          & {
            color: #333230 !important;
            text-align: left;
            margin: 15px 0px 30px 0px !important;
          }
        }
      }
      & .text {
        display: none;
        @media screen and (max-width: 968px) {
          display: block;
          max-width: 450px;
        }
        & .title {
          color: #8B8985;
        }
        & .subtitle {
          color: #8B8985;
          margin: 30px 0px;
        }
        & .desc {
          color: #545351;
          font-family: 'g-SemiBold';
          font-size: 1rem;
          margin: 10px 0px;
        }
      }
      & .icon {
        margin: 0px auto;
        display: block;
      }
      
    }
  }
  & .howMuch {
    position: relative;
    z-index: 5;
    margin-top: 150px;
    padding: 40px 0px;
    @media screen and (max-width: 968px) {
      & {
        margin-top: 50px;
      } 
    }
    & .info {
      max-width: 500px;
      margin: 0px auto;
      text-align: center;
      & .title {
        font-size: 3rem;
        color: #545351;
        line-height: 3.1rem;
        font-family: 'g-Bold';
        text-transform: none;
        @media screen and (max-width: 567px) {
          & {
            font-size: 2rem;
            line-height: 2rem;
          } 
        }
      }
      & .calculate {
        font-size: 1.5rem;
        color: #fff;
        line-height: 1.6rem;
        font-family: 'g-SemiBold';
        text-align: center;
        padding: 34px 55px;
        background: #E61818;
        border: none;
        border-radius: 2px;
        transition-duration: .2s;
        outline: none;
        margin: 20px 0px;
        @media screen and (max-width: 968px) {
          & {
            margin-top: 0px;
          } 
        }
        @media screen and (max-width: 567px) {
          & {
            padding: 22px 25px;
            font-size: 1.25rem;
            width: 100%;
          } 
        }
        &:hover {
          box-shadow: 0px 2px 16px rgba(230, 24, 24, 0.5);
        }
      }
    }
  }
  & .calculator {
    position: absolute;
    bottom: 0px;
    left: 30px;
    z-index: 4;
    width: 280px;
    height: 360px;
    background: url("../images/section-2/calculator.png");
    @media screen and (max-width: 969px) {
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
    }
    & .buttons {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0px 30px;
      & .value {
        width: 100%;
        text-align: right;
        outline: none;
        border: none;
        font-family: 'g-Bold';
        font-size: 2rem;
        color: #F3AD5B;
        & {
          -moz-appearance: textfield;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
      }
      & .buttons-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 7px 0px; 
        &-last {
          justify-content: initial;
          margin-bottom: 5px;
          & .btn-last-1 {
            margin: 0px auto;
          }
          & .btn-last-2 {
            margin-left: auto;
            margin-right: 19px;
          }
        }
        & .btn {
          height: 40px;
          width: 40px;
          font-family: 'g-Bold';
          font-size: 1rem;
          line-height: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0px;
          &.method {
            background: #F2F2F2;
          }
          &.equal {
            background: #EA3223;
          }
        }
      }
    }
  }
  & .bg-1 {
    position: absolute;
    bottom: 0px;
    right: 150px;
    z-index: 2;
    @media screen and (max-width: 968px) {
      & {
        right: 0px;
      } 
    }
  }
  & .bg-2 {
    position: absolute;
    bottom: 0px;
    left: 350px;
    z-index: 3;
    @media screen and (max-width: 968px) {
      & {
        right: 0px;
        left: 0;
      } 
    }
  }
  & .bg-3 {
    position: absolute;
    top: 80px;
    right: 60px;
  }
  & .bg-4 {
    position: absolute;
    bottom: 420px;
    right: 160px;
    @media screen and (max-width: 968px) {
      & {
        bottom: 500px;
        right: 50px;
      } 
    }
  }
}


.section-3 {
  padding: 176px 10px 62px 10px;
  position: relative;
  overflow: hidden;
  user-select: none;
  @media screen and (max-width: 968px){
    padding: 80px 10px 30px 10px;
  }
  & .title {
    font-size: 4.5rem;
    line-height: 4rem;
    text-align: center;
    color: #333230;
    text-transform: uppercase;
    font-family: 'g-Bold';
    margin: 50px auto 20px auto;
    @media screen and (max-width: 968px){
      margin: 20px auto 20px auto;
      font-size: 3rem;
      line-height: 3rem;
    }
    @media screen and (max-width: 567px){
      font-size: 2rem;
      line-height: 2rem;
    }
  }
  & .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0px;
    & .item {
      max-width: calc((100% / 3) - 90px);
      width: 100%;
      margin: 50px 0px;
      position: relative;
      @media screen and (max-width: 1120px){
        max-width: calc((100% / 2) - 50px);
        margin: 30px 25px;
      }
      @media screen and (max-width: 567px){
        max-width: 100%;
        margin: 10px 15px;
      }
      &-text {
        font-family: 'g-SemiBold';
        font-size: 1.5rem;
        line-height: 1.7rem;
        color: #333230;
        margin-top: 32px;
      }
      & .icon-1 {
        position: absolute;
        left: -40px;
        top: 50px;
      }
      & .icon-2 {
        position: absolute;
        left: -40px;
        bottom: -30px;
      }
      & .icon-3 {
        position: absolute;
        right: -30px;
        top: 50px;
      }
    }
  }
  & .bg-icon-1 {
    position: absolute;
    top: 200px;
    right: 60px;
  }
}

.section-4 {
  position: relative;
  border-top: 1px solid #D9D9D9;
  user-select: none;
  margin-top: 80px;
  & .title {
    font-size: 3rem;
    line-height: 1rem;
    text-align: center;
    color: #545351;
    font-family: 'g-Bold';
    margin: 0px auto 0px auto;
    position: relative;
    top: -1.2rem;
    @media screen and (max-width: 567px) {
      & {
        font-size: 2rem;
        line-height: 2rem;
        top: -1.5rem;
      }
    }
  }
  & .wrapper {
    padding: 140px 70px 60px 70px;
    @media screen and (max-width: 840px) {
      & {
        padding: 70px 20px;
      }
    }
    & .item {
      height: 200px;
      position: relative;
      padding: 10px;
      text-align: left;
       @media screen and (max-width: 840px) {
          & {
            display: block;
            height: auto;
            min-height: 200px;
          }
          &:last-child {
            min-height: 50px;
          }
        }
      & .folder {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media screen and (max-width: 840px) {
          & {
            display: block;
          }
        }
      }
      & .text {
        background: #fff;
        padding: 30px 40px;
        margin-top: -50px;
        margin-left: 150px;
        max-width: 500px;
        z-index: 99;
        box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
        position: absolute;
        right: 0;
        @media screen and (max-width: 840px) {
          & {
            position: absolute;
            margin: 20px auto 15px auto;
            left: 0;
            right: 0;
          }
          &:before {
            content: '';
            position: absolute;
            top: 46px;
            background: url('../images/section-4/triangle-mobile.svg');
            left: -16px;
            width: 16px;
            height: 32px;
          }
        }
        @media screen and (max-width: 567px) {
          & {
            padding: 15px 20px;
          }
        }
        & p {
          font-family: 'g-SemiBold';
          font-size: 1.25rem;
          line-height: 1.5rem;
          color: #333230;
          margin: 10px 0px;
        }
        &:before {
          content: '';
          position: absolute;
          top: 46px;
          background: url('../images/section-4/triangle.svg');
          left: -16px;
          width: 16px;
          height: 32px;
          @media screen and (max-width: 840px) {
            & {
              content: '';
              position: absolute;
              top: -16px;
              background: url('../images/section-4/triangle-mobile.svg');
              left: 50%;
              transform: translate(-50%, 0);
              width: 32px;
              height: 16px;
            }
          }
        }
      }
      & .title {
        font-size: 2rem;
        margin: 0px;
        line-height: 2.25rem;
        text-align: left;
        color: #FFA949;
        font-family: 'g-Bold';
        cursor: pointer;
        top: 0px;
        max-width: 250px;
        transition-duration: .3s;
        z-index: 33;
        @media screen and (max-width: 840px) {
          & {
            margin: 0px auto 0px auto;
            text-align: center;
          }
        }
        @media screen and (max-width: 567px) {
          & {
            font-size: 1.5rem;
            line-height: 1.75rem;
          }
        }
        &.active {
          color: #FFCC92;
        }
      }
      & .icons {
        width: 300px;
        position: relative;
        @media screen and (max-width: 840px) {
          & {
            width: 100%;
          }
        }
        & .item-1 {
          &.icon-1 {
            position: absolute;
            top: 5px;
            left: 40px;
            @media screen and (max-width: 840px) {
              top: 65px;
              left: 50%;
              transform: translate(0, -50%);
            }
          }
          &.icon-2 {
            position: absolute;
            top: 50px;
            left: -35px;
            @media screen and (max-width: 840px) {
              top: 65px;
              left: calc(50% - 100px);
              transform: translate(0, -50%);
            }
          }
          &.icon-3 {
            position: absolute;
            bottom: -50px;
            right: 40px;
            @media screen and (max-width: 840px) {
              bottom: -70px;
            }
          }
        }

        & .item-2 {
          &.icon-1 {
            position: absolute;
            top: 0px;
            left: 45px;
            @media screen and (max-width: 840px) {
              top: 75px;
              left: calc(50% - 75px);
              transform: translate(0, -50%);
            }
          }
        }

        & .item-3 {
          &.icon-1 {
            position: absolute;
            top: -170px;
            left: -60px;
            @media screen and (max-width: 840px) {
              top: -100px;
              left: calc(50% - 170px);
              transform: translate(0, -50%);
            }
          }
          &.icon-2 {
            position: absolute;
            top: 30px;
            left: -70px;
            @media screen and (max-width: 840px) {
              top: 75px;
              left: calc(50% - 175px);
              transform: translate(0, -50%);
            }
          }
          &.icon-3 {
            position: absolute;
            top: 25px;
            left: 50px;
            @media screen and (max-width: 840px) {
              top: 50px;
              left: calc(50% - 5px);
              transform: translate(0, -50%);
            }
          }
          &.icon-4 {
            position: absolute;
            top: 30px;
            right: 20px;
          }
        }

        & .item-4 {
          &.icon-1 {
            position: absolute;
            top: 0px;
            left: -50px;
            @media screen and (max-width: 840px) {
              top: 50px;
              left: calc(50% - 120px);
              transform: translate(0, -50%);
            }
          }
          &.icon-2 {
            position: absolute;
            top: 20px;
            right: 60px;
          }
        }

        & .item-5 {
          &.icon-1 {
            position: absolute;
            top: 20px;
            left: -70px;
            @media screen and (max-width: 840px) {
              top: 25px;
              left: 20px;
            }
          }
          &.icon-2 {
            position: absolute;
            top: 30px;
            right: 120px;
            @media screen and (max-width: 840px) {
              top: 80px;
              left: 50%;
              transform: translate(0, -50%);
            }
            @media screen and (max-width: 400px) {
              top: 80px;
              right: 50px;
            }
          }
        }

        & .item-6 {
          &.icon-1 {
            position: absolute;
            top: 60px;
            left: -70px;
            @media screen and (max-width: 840px) {
              top: 60px;
              left: calc(50% - 100px);
              transform: translate(0, -50%);
            }
          }
          &.icon-2 {
            position: absolute;
            top: 40px;
            left: 130px;
            @media screen and (max-width: 840px) {
              top: 80px;
              left: calc(50% - 5px);
              transform: translate(0, -50%);
            }
          }
          &.icon-3 {
            position: absolute;
            top: 20px;
            right: -50px;
            @media screen and (max-width: 840px) {
              top: 50px;
              left: calc(50% + 120px);
              transform: translate(0, -50%);
            }
          }
        }

      }
    }
  }
  & .bg-icon-1 {
    position: absolute;
    left: 50%;
    top: 127px;
    transform: translate(0, -50%);
    @media screen and (max-width: 840px) {
      & {
        display: none;
      }
    }
  }
  & .bg-icon-2 {
    position: absolute;
    right: 200px;
    top: 200px;
    @media screen and (max-width: 840px) {
      & {
        display: none;
      }
    }
  }
  & .bg-icon-3 {
    position: absolute;
    right: 200px;
    top: 750px;
    @media screen and (max-width: 840px) {
      & {
        display: none;
      }
    }
  }
}

.modal-bg {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.65);
      cursor: pointer;
  & .modal-end {
    background: #F5F4F6;
    border-radius: 6px;
    max-width: 600px;
    width: calc(100% - 40px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px 20px;
    cursor: default;
    max-height: 90vh;
    overflow-y: auto;
    & .close-icon {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
    & .modal-title {
      font-family: 'g-Bold';
      font-size: 1.5rem;
      line-height: 1.1rem;
      text-align: center;
      letter-spacing: -0.444444px;
      color: #808080;
    }
    & .subtitle {
      font-family: 'g-SemiBold';
      font-size: 1rem;
      line-height: 1.25rem;
      text-align: center;
      letter-spacing: -0.444444px;
      color: #808080;
      margin: 20px 20px;
      & span {
        font-family: 'g-Bold';
      }
    }
    & .form {
      max-width: 340px;
      margin: 0px auto;
      width: 100%;
      display: block;
      & .input {
        width: 100%;
        padding: 8px 15px;
        border: none;
        border-bottom: 1px solid #CCCCCC;
        background: transparent;
        outline: none;
        color: #808080;
        font-family: 'g-SemiBold';
        font-size: 1rem;
        line-height: 1.25rem;
        margin: 10px 0px;
        box-sizing: border-box;
      }
      & .textarea {
        width: 100%;
        padding: 8px 15px;
        border: none;
        background: transparent;
        outline: none;
        color: #808080;
        font-family: 'g-SemiBold';
        font-size: 1rem;
        line-height: 1.25rem;
        margin: 10px 0px;
        resize:none
      }
    }
  }
}




.pa-button--orange:active {
    background: #ff9113;
    -webkit-box-shadow: 0 0 0.3rem rgba(255,169,70,.5);
    box-shadow: 0 0 0.3rem rgba(255,169,70,.5);
    -webkit-transition: .2s;
    transition: .2s;
}
.pa-button--orange:hover {
    background: #ffc179;
    -webkit-box-shadow: 0 0 2rem rgba(255,169,70,.8);
    box-shadow: 0 0 2rem rgba(255,169,70,.8);
}
.pa-button:hover {
    text-decoration: none;
    color: #fff;
}
.pa-button:active, .pa-button:focus {
    outline: none;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.pa-button--block, .pa-input {
    display: block;
    width: 100%;
}
.pa-button--orange {
    background: #ffa946;
    -webkit-box-shadow: 0 0 1rem rgba(255,169,70,.5);
    box-shadow: 0 0 1rem rgba(255,169,70,.5);
}
.pa-button, .pa-button input {
    color: #fff;
    border: none;
    font-size: 22.4px;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'g-Bold';
}
.pa-button {
    position: relative;
    padding: 22px 28px !important;
    padding: 2rem 3rem;
    cursor: pointer;
    outline: none;
    -webkit-transition: .5s;
    transition: .5s;
    text-align: center;
    display: inline-block;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
:focus {
    outline: -webkit-focus-ring-color auto 1px;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.pa-button:hover:after, .pa-button:hover:before {
    opacity: 1;
}
.pa-button:hover:after, .pa-button:hover:before {
    opacity: 1;
}
.pa-button:after {
    bottom: -8px;
    right: -6px;
}
.pa-button:after, .pa-button:before {
    content: "+";
    position: absolute;
    z-index: 2;
    font-weight: 200;
    font-size: 2rem;
    text-align: center;
    display: block;
    width: 16px;
    height: 16px;
    line-height: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8.8px 0;
    padding: .55rem 0;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 0;
}


.pa-button:hover:after, .pa-button:hover:before {
    opacity: 1;
}
.pa-button:before {
    top: -6px;
    left: -8px;
}


.pa-button:hover .pa-button__decoration {
    opacity: .3;
}
.pa-button__decoration, .pa-button__decoration:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-transition: .3s;
    transition: .3s;
}
.pa-button__decoration {
    left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
    z-index: 1;
    border: 4px solid #fff;
    overflow: hidden;
}



.pa-button:hover .pa-button__decoration:before {
    left: -50%;
}
.pa-button__decoration:before {
    content: "";
    left: -100%;
    z-index: 2;
    background: rgba(255, 255, 255, .3);
    -webkit-transform: skew(-45deg);
    transform: skew(-45deg);
}
.pa-button__decoration, .pa-button__decoration:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-transition: .3s;
    transition: .3s;
}