* {
  user-select: none;
}

img {
  pointer-events: none;
}

.wrap-loader{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #1a1a1a;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.maintrance {
  min-height: 100vh;
  height: 100%;
  background: rgb(125, 125, 125);
  position: relative;
}

.language {
  padding-top: 10px;
  margin: 0px 0px 0px 60px;
  position: relative;
  z-index: 999;
  width: 170px;
}

.current-lang {
  color: #14c0b2;
  cursor: pointer;
  font-size: 18px;
}

.menu-lang {
  display: none;
  background: #fff;
  margin-top: 15px;
}

.language-item {
  padding: 7px 17px;
  border: 1px solid #f4f4f4;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.language-item:hover {
  background: #fafafa none repeat scroll 0 0;
}

.language-item a {
  color: #333;
  font-size: 0.8em;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.language-item:hover a {
  color: #14c0b2;
}

.sections {
  display: flex;
  width: 100%;
}

.sections .sections-side-left, .sections .sections-side-right {
  width: 50%;
  position: absolute;
  top: 0px;
  height: 100%;
}

.sections-side-left {
  left: 0px;
  background: url("../images/bg_1.jpg");
  background-size: cover;    
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sections-side-right {
  right: 0px;
  display: flex;
  flex-wrap: wrap;
}

.side-left-title {
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 20px 20px 20px;
}

.sections-side-left h1 {
  margin: 0px;
  color: #fff;
  font-size: 4.2rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.subtitle {
  margin: 0px;
  line-height: 1.2;
  opacity: 0.7;
  color: #fff;
  font-size: 1.777rem;
  max-width: 600px;
}

.sections-side-right-item-games {
  background: url("../images/game1.jpg");
}

.sections-side-right-item-token {
  background: url("../images/token.jpg");
}

.sections-side-right-item-sport {
  background: url("../images/sport1.jpg");
}

.sections-side-right-item-exchange {
  background: url("../images/exchange.jpg");
}

.sections-side-right-item {
  width: 50%;
  height: 50%;
  background-size: cover;    
  background-position: center;
  transition-duration: .7s;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sections-side-right-item a {
  text-decoration: none;
  border: 1px solid #fff;
  padding: 7px 17px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.5);
  transition-duration: .2s;
  font-size: 25px;
  outline: none;
}

.sections-side-right-item .centered {
  margin-top: 130px;
  position: relative;
  z-index: 1000;
  text-align: center;
}

.sections-side-right-item .centered a {
  margin: 0px auto;
}

.countdown {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.countdown .countdown-item {
  margin: 0px 5px;
  background: rgba(0, 0, 0, 0.4);
  padding: 5px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 20px;
  border: 1px solid #fff;
}

.count-half {
  color: #000;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.sections-side-right-item a:hover {
  background: rgba(255, 255, 255, 0.8);
  color: rgb(125, 125, 125);
  transition-duration: .2s;
}

.sections-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
  overflow: hidden;
}

.sections-bg:hover {
  transform: scale(1.15);
  will-change: transform, opacity, filter;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.sections-side-right-item:hover {
  background-size: 123%;
  transition-duration: .7s;
}

.sections-side-right-item p {
  margin: 0px;
}

.side-left-title {
  max-width: 700px;
}



@media screen and (max-width: 1300px) {
  .side-left-title {
    max-width: 350px;
  }
}

@media screen and (max-width: 900px) {
  .side-left-title {
    max-width: 350px;
  }
}

@media screen and (max-width: 868px) {
  .sections {
    display: block;
    height: 100vh;
  }

  .language {
    position: absolute;
  }

  .sections .sections-side-left, .sections .sections-side-right {
    width: 100%;
    position: relative;
  }
  .language {
    margin-left: 10px;
  }
}

@media screen and (max-width: 441px) {
  .countdown {
    display: block;
    text-align: center;
  }

  .countdown-item {
    width: 30px;
    margin: 2px auto !important;
    display: block;
  }
}