$hoverColor: #ffd05c;
$bgcolor: #FFEFC3;
$transparent: rgba(255, 255, 255, 0);

$color-1: transparentize(#FFEFC3, .6);
$color-2: transparentize(#E8DE67, .6);
$color-3: transparentize(#C0CCAB, .5);
$color-4: transparentize(#E57152, .8);

$size: 7em;
$big-size: $size*2;

HTML {
  height: 100%;
  }
BODY {
  padding: 0px 20px;
  background: 
    linear-gradient(90deg,
      $transparent 93%,
      $color-3 93%, $color-3 100%
      ),
    linear-gradient(90deg,
      $color-2 5%,
      $transparent 5%, $transparent
      ),
    linear-gradient(
      $color-2 5%,
      $transparent 5%, $transparent
      ),
    linear-gradient(
      $transparent 90%,
      $color-4 90%, $color-4 100%
      ),
    linear-gradient(
      $transparent 35%,
      $color-1 35%, $color-1 45%,
      $transparent 45%, $transparent 55%,
      $color-2 55%, $color-2 70%,
      $transparent 70%
      ),
    linear-gradient(90deg,
      $transparent 35%,
      $color-1 35%, $color-1 45%,
      $transparent 45%, $transparent 55%,
      $color-2 55%, $color-2 70%,
      $transparent 70%
      ),
    linear-gradient(
      $transparent 55%,
      $color-1 55%, $color-1 60%,
      $transparent 60%
      ),
    linear-gradient(90deg,
      $transparent 55%,
      $color-1 55%, $color-1 60%,
      $transparent 60%
      ),
    linear-gradient(
      $transparent 20%,
      $color-3 20%, $color-3 80%,
      $transparent 80%
      ),
    linear-gradient(90deg,
      $transparent 20%,
      $color-4 20%, $color-4 80%,
      $transparent 80%
      ),
    linear-gradient(
      $transparent 10%,
      $color-2 10%, $color-2 35%,
      $transparent 35%
      ),
    linear-gradient(90deg,
      $transparent 10%,
      $color-2 10%, $color-2 35%,
      $transparent 35%
      );
  background-size:  $big-size $big-size;
  background-color: $bgcolor;
  font: 10px/2 'Trebuchet MS', Verdana, sans-serif;
  }

.content {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .5);
  box-sizing: border-box;
  background: #fff;
  & * {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    user-select: none;
  }
}

.header {
  border-bottom: 1px solid rgba(22, 73, 96, 0.2);
  & .header-container {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & .logo {
      & img {
        width: 250px;
      }
    }
    & .info {
      text-align: right;
      & .cart {
        & .cart-text {
          cursor: pointer;
          font-size: 1.2rem;
          color: #000;
          text-decoration: none;
          line-height: 1.2rem;
          margin: 3px 0px;
          &:hover {
            color: #ffd05c;
            transition-duration: .2s;
          }
          & i {
            margin-right: 10px;
          }
        }
      }
      & .phone {
        & .phone-text {
          cursor: pointer;
          font-size: 1.2rem;
          color: #000;
          text-decoration: none;
          line-height: 1.2rem;
          margin: 3px 0px;
          &:hover {
            color: #ffd05c;
            transition-duration: .2s;
          }
          & .fa-phone {
            transform: scale(-1, 1);
            margin-right: 10px;
          }
        }
      }
      & .adress {
        & .adress-text {
          cursor: pointer;
          font-size: 1.2rem;
          color: #000;
          line-height: 1.2rem;
          &:hover {
            color: #ffd05c;
            transition-duration: .2s;
          }
          & i {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.catalog {
  margin-top: 70px;
  & .catalog-title {
    font-size: 2.5rem;
    margin-left: 15px;
  }
  & .items-wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0px 0px 0px 0px;
    & .item {
      width: calc((100% / 4) - 30px);
      background: #fffff5;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .5);
      border-radius: 5px;
      margin: 20px 15px;
      & .item-image {
        max-width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      & .item-title {
        font-size: 1.4rem;
        padding: 0px 10px;
        line-height: 1.4rem;
        margin: 15px 0px;
        font-style: italic;
        font-weight: 400;
        text-align: center;
      }
      & .item-price {
        font-weight: 700;
        padding: 0px 10px;
        margin: 5px 0px;
        font-size: 1.7rem;
        line-height: 1.5rem;
        text-align: center;
      }
      & .item-addToCart {
        margin: 10px auto 10px auto;
        display: block;
        width: calc(100% - 20px);
        font-size: 1.1rem;
        max-width: 100%;
        padding: 10px 0px;
        border: none;
        border-radius: 3px;
        background: #28A745;
        color: #fff;
        &:hover {
          transition-duration: .2s;
          background: $hoverColor;
        }
      }
      & .item-inCart-text {
        font-weight: 400;
        font-size: 1.2rem;
        text-align: center;
        display: block;
        color: #000;
        margin: -5px 0px 0px 0px;
        &:hover {
          color: $hoverColor;
          transition-duration: .2s;
        }
      }
    }
  }
}

.modal {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  & .modal-wrapper {
    max-width: 1000px;
    width: calc(100% - 20px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    display: flex;
    border-radius: 5px;
    cursor: default;
    & .close-icon {
      position: absolute;
      top: 5px;
      right: 8px;
      font-size: 1.2rem;
      cursor: pointer;
    }
    & .modal-left-side {
      padding: 10px 15px;
      width: 100%;
      border-right: 1px solid rgba(0, 0, 0, .4);
      & .modal-left-side-title {
        font-size: 1.4rem;
        font-weight: 400;
        color: #28A745;
      }
      & .item {
        display: flex;
        align-items: flex-start;
        margin-top: 20px;
        & .image {
          border: 1px solid rgba(0, 0, 0, 0.4);
          padding: 2px;
          & img {
            width: 120px;
          }
        }
        & .item-text {
          margin-left: 10px;
          &-title {
            font-size: 1.2rem;
            line-height: 1rem;
            margin: 10px 0px;
            font-weight: 600;
            &:nth-child(1) {
              margin-top: 0px;
            }
            & span {
              font-weight: 300;
              font-style: italic;
              font-size: 1rem;
            }
          }
        }
      }
    }
    & .modal-right-side {
      padding: 10px 15px;
      width: 100%;
      & .modal-right-side-title {
        font-size: 1.4rem;
        font-weight: 400;
        color: #000;
        & span {
          color: #28A745;
        }
      }
      & .item {
        display: flex;
        align-items: flex-start;
        margin-top: 20px;
        & .image {
          border: 1px solid rgba(0, 0, 0, 0.4);
          padding: 2px;
          & img {
            width: 120px;
          }
        }
        & .item-text {
          &-title {
            font-size: 1.2rem;
            line-height: 1rem;
            margin: 10px 0px;
            font-weight: 600;
            &:nth-child(1) {
              margin-top: 0px;
            }
            & span {
              font-weight: 300;
              font-style: italic;
              font-size: 1rem;
            }
          }
        }
      }
      & .btn {
        font-size: 1.1rem;
        padding: 8px 20px;
        border: none;
        border-radius: 3px;
        background: #007BFF;
        color: #fff;
        margin-top: 20px;
        &:hover {
          transition-duration: .2s;
          background: $hoverColor;
        }
      }
    }
  }
}





.cart-main-wrapper {
  margin-top: 70px;
  & .cart-title {
    font-size: 2.5rem;
    margin-left: 15px;
  }
  & .table {
    padding: 20px;
    & .table-head {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      &-item {
        width: calc(100% / 5);
        text-align: center;
        border: 1px solid rgba(0, 0, 0, .2);
        font-size: 1.2rem;
        font-weight: 300;
        font-style: italic;
      }
    }
    & .table-body {
      display: flex;
      justify-content: space-between;
      position: relative;
      & .delete-item-icon {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: -30px;
        font-size: 1.5rem;
        cursor: pointer;
        &:hover {
          color: red;
          transition-duration: .2s;
        }
      }
      &-item {
        width: calc(100% / 5);
        text-align: center;
        border: 1px solid rgba(0, 0, 0, .2);
        font-size: 1.2rem;
        font-weight: 300;
        font-style: italic;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0px;
        & img {
          width: 80px;
        }
      }
    }
  }
}