@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Thin.eot");
  src: url("../fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.eot");
  src: url("../fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900; }

@font-face {
  font-family: 'Roboto Condensed';
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url("../fonts/Robotocondensedlight.woff2") format("woff2"), url("../fonts/Robotocondensedlight.woff") format("woff"), url("../fonts/Robotocondensedlight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Condensed';
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url("../fonts/Robotocondensed.woff2") format("woff2"), url("../fonts/Robotocondensed.woff") format("woff"), url("../fonts/Robotocondensed.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Condensed';
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url("../fonts/Robotocondensedbold.woff2") format("woff2"), url("../fonts/Robotocondensedbold.woff") format("woff"), url("../fonts/Robotocondensedbold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

* {
  outline-width: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

html {
  padding: 0;
  margin: 0; }

body {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0; }

a, button {
  text-decoration: none !important; }

.p-125 {
  padding: 0 125px; }

input {
  height: 40px;
  background: #132234;
  border: 1px solid #F1CD5B;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  color: #fff;
  font-weight: 900;
  font-size: 18px; }

.btn-yellow {
  height: 40px;
  padding: 0 20px;
  font-weight: 900;
  font-size: 14px;
  color: #101B28;
  background-color: #F1CD5B;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none; }

.ivu-switch {
  width: 100px;
  height: 40px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  vertical-align: middle;
  border: 1px solid #e4c358;
  background-color: #0F1B2B;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  transition-duration: .3s; }

.ivu-round {
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 34px;
  height: 34px;
  color: #F1CD5B;
  font-size: 14px;
  font-weight: 900;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background-color: #0F1B2B;
  position: relative;
  left: 3px;
  top: 2px;
  cursor: pointer;
  background-color: #e4c358;
  color: #0F1B2B;
  transition-duration: .3s; }

.ivu-round:after {
  content: "Off"
}

.ivu-round-checked {
  transform: translate(calc(200% - 9px),0);
  color: #e4c358;
  background-color: #0F1B2B;
}

.ivu-checked {
  background-color: #e4c358;
}

.ivu-round-checked:after {
  content: "On"
}

.ivu-switch-large.ivu-switch-checked .ivu-switch {
  display: inline-block; }

#app {
  background-image: url(../img/fon.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%; }

.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 35px; }
  .social li a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #101B28;
    width: 26px;
    height: 26px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin-right: 15px; }
  .social li:last-of-type a {
    margin-right: 0; }

header .top__header {
  position: relative;
  height: 40px;
  background: #101B28;
  font-weight: 500;
  font-size: 12px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25px; }
  header .top__header nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header .top__header nav a {
      color: #9098A3;
      margin-right: 30px; }
      header .top__header nav a:last-of-type {
        margin-right: 0; }
  header .top__header .top__stat {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header .top__header .top__stat p {
      margin: 0;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-right: 25px;
      color: #9098A3; }
      header .top__header .top__stat p:last-of-type {
        margin-right: 0; }
      header .top__header .top__stat p span {
        color: #F1CD5B;
        margin-left: 5px; }
  header .top__header .top__actions {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header .top__header .top__actions button {
      background-color: transparent;
      border: none;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding-left: 31px;
      height: 26px;
      color: #9098A3; }
      header .top__header .top__actions button img {
        margin-right: 5px; }

header .center__header {
  height: 60px;
  background-color: #132234;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25px; }
  header .center__header .top__arrow {
    margin-right: 30px; }
  header .center__header .logo {
    margin-right: 30px; }
  header .center__header .link__data {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header .center__header .link__data nav a {
      color: #FFFFFF;
      margin-right: 48px; }
      header .center__header .link__data nav a:last-of-type {
        margin-right: 0; }
  header .center__header .balance__data {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header .center__header .balance__data .label-span {
      font-weight: 400; }
    header .center__header .balance__data .input {
      height: 26px;
      background: #101B28;
      -webkit-border-radius: 13px;
              border-radius: 13px;
      font-weight: 900;
      color: #F1CD5B;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0 67px;
      margin: 0 15px; }
    header .center__header .balance__data .btn-link {
      background-color: transparent;
      border: none;
      font-size: 10px;
      color: #fff; }
      header .center__header .balance__data .btn-link.active, header .center__header .balance__data .btn-link:hover {
        color: #F1CD5B;
        cursor: pointer; }
  header .center__header .user__data {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header .center__header .user__data .user__login {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 26px;
      background: #101B28;
      -webkit-border-radius: 13px;
              border-radius: 13px; }
      header .center__header .user__data .user__login img {
        -webkit-border-radius: 50%;
                border-radius: 50%;
        margin-right: 10px; }
      header .center__header .user__data .user__login span {
        margin-right: 8px; }

header .bottom__header {
  height: 60px;
  padding: 0 25px;
  background-color: #101B28;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  position: relative; }
  header .bottom__header .btn-flex, header .bottom__header .btn-flex-mobile {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header .bottom__header .btn-flex .btn-link, header .bottom__header .btn-flex-mobile .btn-link {
      background-color: transparent;
      border: none;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      margin-right: 35px; }
      header .bottom__header .btn-flex .btn-link:last-of-type, header .bottom__header .btn-flex-mobile .btn-link:last-of-type {
        margin-right: 0; }
      header .bottom__header .btn-flex .btn-link.active, header .bottom__header .btn-flex .btn-link:hover, header .bottom__header .btn-flex-mobile .btn-link.active, header .bottom__header .btn-flex-mobile .btn-link:hover {
        color: #F1CD5B;
        cursor: pointer; }
  header .bottom__header nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header .bottom__header nav a {
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      margin-right: 30px; }
      header .bottom__header nav a:last-of-type {
        margin-right: 0; }
      header .bottom__header nav a.active, header .bottom__header nav a:hover {
        color: #F1CD5B;
        cursor: pointer; }

main {
  padding: 50px 0 200px; }
  main .wrapper .graphic__frame {
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: 50%;
    position: relative; }
    main .wrapper .graphic__frame #crash-game-notice {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      left: 0; }
      main .wrapper .graphic__frame #crash-game-notice #mutShow span {
        margin: 45px auto 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 170px;
        background: rgba(19, 34, 52, 0.8);
        border: 1px solid #F1CD5B;
        padding: 0 20px;
        height: 40px;
        font-size: 18px;
        font-weight: 900;
        color: #ffffff; }
      main .wrapper .graphic__frame #crash-game-notice #waitTimeShow {
        margin: 45px auto 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 170px;
        background: rgba(19, 34, 52, 0.8);
        border: 1px solid #F1CD5B;
        padding: 0 20px;
        height: 40px;
        font-size: 18px;
        font-weight: 900;
        color: #ffffff; }
  main .wrapper .crash {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 25px 0; }
    main .wrapper .crash .item .item__header {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      color: #fff;
      font-size: 14px;
      margin-bottom: 10px;
      min-height: 24px; }
      main .wrapper .crash .item .item__header label {
        font-weight: 400; }
      main .wrapper .crash .item .item__header .tab__data {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        main .wrapper .crash .item .item__header .tab__data span {
          margin-right: 15px;
          font-size: 10px; }
          main .wrapper .crash .item .item__header .tab__data span.active, main .wrapper .crash .item .item__header .tab__data span:hover {
            color: #F1CD5B;
            cursor: pointer; }
          main .wrapper .crash .item .item__header .tab__data span:last-of-type {
            margin-right: 0; }
    main .wrapper .crash .item .item__body .btn__tab {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      main .wrapper .crash .item .item__body .btn__tab .btn--link {
        width: 90px;
        height: 40px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        background-color: #132234;
        border: 1px solid #132234;
        color: #fff;
        font-weight: 900;
        font-size: 14px; }
        main .wrapper .crash .item .item__body .btn__tab .btn--link.active, main .wrapper .crash .item .item__body .btn__tab .btn--link:hover {
          border-color: #F1CD5B; }
        main .wrapper .crash .item .item__body .btn__tab .btn--link img {
          height: 21px;
          margin-right: 5px; }
    main .wrapper .crash .item .item__body .btn-yellow {
      width: 150px; }
  main .wrapper table.box {
    width: 100%; }
    main .wrapper table.box tr:nth-child(odd) {
      background-color: #132234; }
    main .wrapper table.box thead tr th {
      color: #F1CD5B;
      font-size: 14px;
      font-weight: 400;
      padding: 10px 20px;
      text-align: center; }
      main .wrapper table.box thead tr th:first-of-type {
        text-align: left; }
      main .wrapper table.box thead tr th .thead__img {
        width: 11px;
        margin-right: 5px; }
    main .wrapper table.box tbody tr td {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      padding: 10px 25px;
      text-align: center; }
      main .wrapper table.box tbody tr td:first-of-type {
        text-align: left; }
    main .wrapper table.box tbody tr.yellow td {
      color: #F1CD5B; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .p-125 {
    padding: 0 20px; }
  header .top__header nav {
    display: none; }
  header .top__header .top__actions button {
    font-size: 0;
    margin-right: 10px;
    padding-left: 0; }
  header .center__header .link__data nav {
    display: none; }
  header .center__header .social {
    display: none; }
  header .center__header .user__data .user__login {
    height: 0; }
    header .center__header .user__data .user__login img {
      display: none; }
    header .center__header .user__data .user__login span {
      font-size: 0; }
  header .bottom__header .none__data {
    display: none; }
  .crash {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .crash .item {
      margin-bottom: 10px;
      padding: 0 15px; }
      .crash .item input {
        width: 100%; }
    .crash .item:nth-child(1) {
      width: -webkit-calc(50%);
      width: calc(50%); }
    .crash .item:nth-child(2) {
      width: -webkit-calc(50%);
      width: calc(50%); }
    .crash .item:nth-child(3) {
      width: -webkit-calc(50%);
      width: calc(50%); }
    .crash .item:last-of-type {
      width: -webkit-calc(50% - 130px);
      width: calc(50% - 130px); }
  main {
    padding: 15px 0 100px; }
  main .wrapper .crash .item .item__body .btn-yellow {
    width: 100%; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .right-table {
    display: none; } }

@media only screen and (max-width: 768px) {
  header .top__header .top__stat {
    display: none; }
  header .center__header .logo {
    display: none; }
  header .center__header .balance__data {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    header .center__header .balance__data .label-span {
      display: none; }
    header .center__header .balance__data .btn-group {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 5px; }
  .mobilem {
    position: relative;
    top: 0px;
    left: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    width: 30px;
    margin-right: 15px;
    z-index: 2001;
    cursor: pointer; }
    .mobilem ._line {
      position: absolute;
      width: 30px;
      height: 3px;
      background: #fff;
      top: 0;
      left: 0;
      bottom: 0;
      margin-top: auto;
      margin-right: auto;
      margin-bottom: auto;
      margin-left: auto;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .mobilem ._line.__1 {
        bottom: 16px; }
      .mobilem ._line.__2 {
        top: 16px; }
    .mobilem.open ._line.__1 {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      bottom: 0; }
    .mobilem.open ._line.__2 {
      opacity: 0; }
    .mobilem.open ._line.__3 {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      top: 0; }
  .btn-flex {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: #101B28;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .btn-flex.open {
      max-height: 100vh;
      visibility: visible; }
    .btn-flex .btn-link {
      width: 100%;
      text-align: left;
      padding: 5px 30px;
      margin-right: 0; }
  .p-125 {
    padding: 0 15px; }
  .main {
    padding: 15px 0 50px; }
  .crash {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .crash .item {
      margin-bottom: 10px;
      padding: 0 15px; }
      .crash .item input {
        width: 100%; }
    .crash .item:nth-child(1) {
      width: 100%; }
    .crash .item:nth-child(2) {
      width: 100%; }
    .crash .item:nth-child(3) {
      width: 100%; }
    .crash .item:last-of-type {
      width: -webkit-calc(100% - 130px);
      width: calc(100% - 130px); }
  main .wrapper .crash .item .item__body .btn__tab .btn--link {
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3); } }

/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
  header .bottom__header .btn-flex-mobile {
    display: none; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
  .top__header .social {
    display: none; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
#crash-btn:disabled, #auto-stop-value:disabled, #crash-value:disabled, .btn__tab button:disabled, .hotkey-disable {
  opacity: .7;
  pointer-events: none;
}


* {
  user-select: none;
}

#crash-playerTables {
  
}

.crash-playersTable::-webkit-scrollbar{
  background: rgba(30, 44, 61, 0.7);
  border-radius: 5px;
  width: 8px;
}
.crash-playersTable::-webkit-scrollbar-thumb{
	background: rgb(42, 59, 80);
 	border-radius: 5px;
}


