.wrap-loader{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #1a1a1a;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
}
.wrap-loader img{
	width: 200px;
}
	
	